:host {
  display: block;
  overflow: hidden;
  height: 48px;
  width: 100%
}

.FeedNav a {
  display: block;
  text-decoration: none;
  cursor: pointer;
  text-align: center
}

@media screen and (max-width: 580px) {
  .FeedNav a {
    cursor: default
  }
}

.FeedNav a span {
  display: block
}

.FeedNav a span.img {
  text-align: center;
  overflow: hidden;
  height: 61px
}

.FeedNav a span.txt {
  text-align: center;
  color: #000;
  font-size: 12px;
  line-height: 15px;
  margin-top: 11px
}

.FeedNav a.active .normal, .FeedNav a .highlight {
  display: none
}

.FeedNav a.active .highlight {
  display: inline-block
}

.FeedNav a.active span.txt {
  font-weight: 600
}

.FeedNavDesktop {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  flex-direction: row
}

.FeedNavDesktop a {
  display: flex;
  text-decoration: none;
  cursor: pointer;
  text-align: center;
  padding: 0 8px;
  line-height: 51px;
  border: 1px solid #c7c7c7;
  color: #848484;
  border-radius: 8px
}

.FeedNavDesktop a, .FeedNavDesktop a span {
  align-items: center;
  transition: all .25s ease-in-out
}

.FeedNavDesktop a span {
  display: inline-block;
  display: flex
}

.FeedNavDesktop a span.img {
  margin-right: 5px;
  height: 17.29px;
  filter: grayscale(100%);
  transition: all .25s ease-in-out
}

.FeedNavDesktop a span.txt {
  font-size: 14px;
  transition: all .25s ease-in-out
}

.FeedNavDesktop a + a {
  margin-left: 10px
}

.FeedNavDesktop a.active {
  pointer-events: none
}

.FeedNavDesktop a.active .img {
  filter: grayscale(0)
}

.FeedNavDesktop a.active.feed_type1, .FeedNavDesktop a.active.feed_type2, .FeedNavDesktop a.active.feed_type3, .FeedNavDesktop a.active.feed_type4, .FeedNavDesktop a.active.feed_type8, .FeedNavDesktop a.active.feed_type9 {
  background-color: #faffeb;
  border-color: #69a323;
  color: #69a323
}

.FeedNavDesktop a.active.feed_type5 {
  background-color: #faffeb;
  border-color: #4b9006;
  color: #4b9006
}

.FeedNavDesktop a.active.feed_type6 {
  background-color: #f7f5ff;
  border-color: #594fc2;
  color: #594fc2
}

.FeedNavDesktop a.active.feed_type7, .FeedNavDesktop a.active .feed_type26 {
  background-color: #fff9ef;
  border-color: #fc9b00;
  color: #fc9b00
}

.FeedNavDesktop a.active.feed_type10 {
  background-color: #ffeff1;
  border-color: #d32941;
  color: #d32941
}

.FeedNavDesktop a.active.feed_type16 {
  background-color: #ffeff1;
  border-color: #fd3b3b;
  color: #fd3b3b
}

.FeedNavDesktop a.active.feed_type17 {
  background-color: #f7fbfd;
  border-color: #095884;
  color: #095884
}
