<nav class="feed-nav-bar feed_type4">
  <div id="feedNavCont" class="autoScroll">
    <a class="active ng-star-inserted" id="feedNav_4"> Auctions </a>
    <a id="feedNav_15" class="ng-star-inserted"> Giá cố định </a>
    <!---->
  </div>
</nav>
