<a mat-button [matMenuTriggerFor]="myBidMenu" aria-haspopup="true" aria-label="Đấu giá của tôi" mat-button=""
   class="mat-focus-indicator mat-menu-trigger ng-tns-c240-12 mat-button mat-button-base" tabindex="0"
   aria-disabled="false"><span class="mat-button-wrapper"><img
  src="/assets/svgIcon/auction.svg" class="m"
  alt="Đấu giá của tôi"><img
  src="/assets/svgIcon/auction-white.svg"
  class="d"
  alt="Đấu giá của tôi"><span
  class="txt">Đấu giá của tôi</span><em
  class="ng-tns-c240-12 ng-trigger ng-trigger-valueAnimation ng-star-inserted">1</em>
  <!----></span><span matripple="" class="mat-ripple mat-button-ripple"></span><span
  class="mat-button-focus-overlay"></span></a><!---->
<mat-menu #myBidMenu="matMenu" class="ng-star-inserted">
  <button mat-icon-button="" color="primary"
          class="mat-focus-indicator close-btn ng-tns-c174-69 mat-icon-button mat-button-base mat-primary">
                  <span class="mat-button-wrapper">
                    <i class="fas fa-chevron-up"></i>
                  </span>
    <!--          <span matripple="" class="mat-ripple mat-button-ripple mat-button-ripple-round"></span>-->
    <span class="mat-button-focus-overlay"></span>
  </button>
  <div class="menu-scroll ng-tns-c174-69">
    <h3 class="active-header ng-tns-c174-69 ng-star-inserted"> Active Auctions </h3>
    <!---->
    <app-active-auction class="ng-tns-c174-69 ng-star-inserted"></app-active-auction>
    <mat-divider role="separator" class="mat-divider ng-tns-c174-69 mat-divider-horizontal ng-star-inserted"
                 aria-orientation="horizontal"></mat-divider>
    <!---->
    <!---->
    <!---->
    <!---->
    <!---->
    <!---->
    <!---->
    <!---->
    <!---->
    <a mat-button color="primary" routerLink="/my-bid" (click)="ahihi()"
            class="mat-focus-indicator go-auctions ng-tns-c174-69 mat-button mat-button-base mat-primary"
            tabindex="0">
      <span class="mat-button-wrapper"> See all recently ended </span>
      <!--            <span matripple="" class="mat-ripple mat-button-ripple"></span>-->
      <span class="mat-button-focus-overlay"></span>
    </a>
  </div>
</mat-menu>


