:host {
  display: inline-block
}

.menu-container {
  position: relative;
  max-width: 100vw
}

.menu-container .close-btn {
  position: absolute;
  top: 8px;
  width: 40px;
  right: 0;
  height: 40px;
  z-index: 9999;
  background-color: #fff
}

@media screen and (max-width: 768px) {
  .menu-container .close-btn {
    right: 5px;
    top: 0
  }
}

.menu-container .menu-scroll {
  overflow-y: auto;
  max-height: calc(100vh - 106px);
  -webkit-overflow-scrolling: touch
}

@media screen and (max-width: 768px) {
  .menu-container .menu-scroll {
    max-height: calc(100vh - 57px)
  }
}

.menu-container h3 {
  margin-bottom: 8px;
  color: #027da7
}

.menu-container h3.no-activity {
  text-align: center;
  color: #c7c7c7
}

.menu-container .active-header {
  display: flex;
  align-items: flex-end
}

.menu-container .active-header .next-bids {
  font-weight: 500
}

.menu-container .go-auctions {
  width: 100%
}

a {
  color: #fff;
  font-size: 15px !important;
  white-space: nowrap;
  text-overflow: ellipsis;
  text-decoration: none;
  display: inline-block;
  line-height: 72px;
  font-weight: 800;
  padding: 0 10px !important;
  min-width: auto !important;
  position: relative;
  border-radius: 0 !important;
  font-family: Nunito, sans-serif
}

a + a {
  margin-left: 10px
}

@media screen and (max-width: 767px) {
  a {
    line-height: 56px
  }
  a + a {
    margin-left: 0
  }
}

a img {
  margin-right: 10px
}

a img.d {
  display: inline-block
}

a img.m {
  display: none
}

@media screen and (max-width: 767px) {
  a img {
    margin-right: 0
  }
  a img.d {
    display: none
  }
  a img.m {
    display: inline-block
  }
}

a span {
  display: inline-block;
  vertical-align: middle;
  line-height: 24px
}

@media screen and (max-width: 767px) {
  a span.txt {
    display: none
  }
}

a em {
  background-color: red;
  border-radius: 50%;
  color: #fff;
  display: inline-block;
  font-size: 10px;
  font-weight: 500;
  height: 18px;
  line-height: 18px;
  position: relative;
  text-align: center;
  top: 0;
  width: 18px;
  font-style: normal;
  left: 4px
}
