:host {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
  box-sizing: border-box;
  min-width: 200px
}

.price {
  text-align: right
}

.name {
  font-size: 14px;
  width: 100%;
  display: inline-block
}

.date {
  text-align: right;
  font-size: 11px;
  color: #c7c7c7;
  width: 65px
}

.auctionData {
  max-width: calc(100% - 48px);
  overflow: hidden
}

.auctionData .fa-sign-in {
  color: #000;
  height: 15px;
  font-weight: 500
}

.auctionData .live-data {
  color: #858585;
  font-size: 12px;
  line-height: 12px;
  margin-bottom: 7px;
  display: flex;
  flex-direction: row;
  font-weight: 500;
  margin-top: -2px
}

.auctionData .live-data .fa-stopwatch {
  margin: 0 5px
}

.img {
  width: 48px;
  height: 64px;
  min-width: 48px;
  margin-right: 12px;
  overflow: hidden;
  display: flex;
  align-items: center;
  border-radius: 6px
}

.img img {
  width: 100%
}

.name {
  align-items: center;
  text-decoration: none;
  color: #000;
  font-size: 15px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  font-weight: 600
}

.desc, .status-holder {
  display: flex;
  align-items: center
}

.status-holder {
  flex-direction: row;
  justify-content: center;
  font-size: 12px;
  font-weight: 500;
  border-radius: 5px;
  color: #fff;
  height: 20px;
  transition: background-color .3s ease-in-out;
  margin-right: 8px;
  min-width: 100px
}

.status-holder.green {
  background-color: #26a300
}

.status-holder.red {
  background-color: #e01f2c
}

.status-holder .status {
  margin: 0 15px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis
}
