<img class="img" alt="Máy niêm phong túi nhựa mini"
     src="./Máy niêm phong túi nhựa mini on auction from 1 THB - Chilindo.com Auctions_files/02-917_001_75.jpg">
<div class="auctionData">
  <div class="name">Máy niêm phong túi nhựa mini</div>
  <div class="live-data">
    <span class="price"> vnđ 22 </span>
    <i class="fal fa-stopwatch"></i>
    <div class="ng-star-inserted">26/11/2021</div>
    <!---->
    <!---->
  </div>
  <div class="desc">
    <div class="red status-holder">
      <span class="status"> Losing </span>
    </div>
    <i aria-hidden="true" class="fa fa-sign-in ng-star-inserted"></i>
    <!---->
  </div>
</div>
