:host {
  margin: 0;
  display: block;
  box-sizing: border-box;
  height: 300px;
  border-radius: 10px;
  border: 3px solid #0000;
  width: 172px
}

@media screen and (max-width: 374px) {
  :host {
    width: 155px;
    height: 277px
  }
}

.active:host {
  border: 3px solid #fff;
  animation: blink 1s;
  animation-iteration-count: 6
}

.active:host .tile-item {
  border: 1px solid #1fb7ea
}

.active:host .tile-item.multiwinner {
  border: 1px solid #f03372
}

@media (max-width: 430px) {
  button.a2c span {
    padding: 6px 12px
  }
}

.fixedAdd.addToCart .price {
  padding-left: 20px;
  padding-top: 4px
}

@media (max-width: 430px) {
  .feedPage.en button.a2c span {
    padding: 7px 10px;
    font-weight: 700
  }
}

@media (max-width: 430px) {
  .feedPage.ms .price, .feedPage.th .price {
    font-size: 12.5px
  }
}

@media (max-width: 430px) {
  .feedPage.ms button.a2c span, .feedPage.th button.a2c span {
    padding: 6px !important
  }
}

.likeHideAction {
  position: absolute;
  top: 0;
  right: 0;
  padding: 10px;
  color: #fff;
  z-index: 1;
  cursor: pointer
}

.likeHideAction img.a2c {
  height: 20px
}

.likeBoxItem {
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  background-color: #0006;
  width: 100%;
  height: 0;
  border-radius: 8px 8px 0 0;
  color: #fff;
  font-size: 12px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  transition: all .25s ease-in-out;
  text-align: center;
  color: red;
  font-size: 23px;
  align-items: 1
}

.likeBoxItem.active {
  height: calc(100% - 25.6%)
}

.likeBoxItem span {
  display: inline-block;
  width: 38px;
  height: 34px
}

.likeBoxItem em {
  display: block;
  line-height: 10px;
  font-style: normal
}

.likeBoxItem div {
  cursor: pointer
}

.likeBoxItem div + div {
  margin-top: 24px
}

.hiddingItems {
  color: #fff;
  background-color: #1fb7ea;
  right: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 41px;
  padding: 10px;
  box-sizing: border-box
}

.hiddingItems, .hiddingItems .floater {
  position: absolute;
  border-radius: 8px;
  top: 0;
  left: 0
}

.hiddingItems .floater {
  bottom: 0;
  background-color: #095884;
  width: 100%;
  z-index: 0;
  transition: width 5s ease
}

.hiddingItems .floater.hideme {
  width: 0
}

.hiddingItems div {
  position: relative;
  z-index: 1
}

.hiddingItems div:last-child {
  cursor: pointer;
  font-weight: 700
}

.ProductImage {
  width: 100%;
  height: 218px
}

.ProductImage img {
  object-fit: cover !important;
  background: url(/assets/img_placeholder.png) 50% 50% no-repeat;
  background-size: 76%;
  background-color: #e3e4e7;
  margin: 0;
  width: 100%;
  height: 100%
}

@media screen and (max-width: 374px) {
  .ProductImage {
    height: 196px
  }
}

.addToCart {
  position: absolute;
  display: flex;
  justify-content: space-between;
  flex-flow: row;
  padding: 0 0 0 10px;
  left: 0;
  bottom: 0;
  right: 0;
  border-radius: 10px
}

.addToCart .price {
  line-height: 25px;
  padding-left: 25px;
  padding-bottom: 5px;
  color: #333;
  font-size: 13px;
  background: #0000 url(https://cdn.chilindo.com/Gfx/fixed_price.png) 0 50% no-repeat;
  background-size: 18px;
  font-weight: 700
}

.addToCart button {
  padding: 0 5px 0 0;
  font-size: 11px;
  overflow: hidden;
  border: none;
  display: flex;
  align-items: center;
  background-color: initial;
  cursor: pointer
}

.addToCart button span {
  border-radius: 4px;
  padding: 5px;
  background-color: #ff9708;
  color: #fff
}

.addToCart button:disabled {
  opacity: .4;
  cursor: default
}

.addToCart.active button span {
  background-color: #64c946
}

.tile-item {
  padding: 0;
  box-shadow: none;
  text-decoration: none;
  display: block;
  border-radius: 8px;
  height: 292px;
  border: 1px solid #c5edfa;
  overflow: hidden
}

.tile-item.loaded {
  background-color: #f03372
}

.tile-item.multiwinner {
  border: 1px solid #f03372
}

.tile-item .InfoBar {
  position: relative;
  overflow: hidden;
  padding: 0 5px;
  margin-top: -25px;
  display: flex
}

.tile-item .InfoBar .Info1 {
  background-color: #ffe800;
  color: #231f20;
  line-height: 15.2px
}

.tile-item .InfoBar .Info1, .tile-item .InfoBar .Info2 {
  font-size: 12px;
  font-weight: 700;
  border-radius: 5px 5px 0 0;
  padding: 5px
}

.tile-item .InfoBar .Info2 {
  background-color: #e31c24;
  color: #fff;
  line-height: 15px
}

.tile-item .InfoBar span {
  white-space: nowrap;
  text-overflow: ellipsis;
  border-radius: 10px 10px 0 0;
  overflow: hidden;
  padding: 0 4px
}

.tile-item .midPad {
  padding: 5px;
  flex: auto
}

.tile-item .DescBar {
  height: 73px;
  padding: 7px 10px;
  background-color: #fff;
  overflow: hidden;
  border-top: 2px solid #eaeef0;
  box-sizing: border-box
}

.tile-item .DescBar .Title {
  color: #000;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 14px;
  width: 100%
}

.tile-item .DescBar .SubTitle, .tile-item .DescBar .Title {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap
}

.tile-item .DescBar .SubTitle {
  color: #abadaf;
  font-size: 12px
}

.tile-item .AuctionData {
  margin: 5px 0 0;
  overflow: hidden
}

.tile-item .AuctionData .DateTime, .tile-item .AuctionData .multi-price, .tile-item .AuctionData .price {
  font-size: 14px;
  font-weight: 700;
  font-family: Open Sans
}

.tile-item .AuctionData .DateTime {
  color: #e8434a;
  line-height: 17px;
  float: left;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 57px;
  overflow: hidden
}

.tile-item .AuctionData .DateTime .timer-logo {
  height: 17px
}

.tile-item .AuctionData .multi-price, .tile-item .AuctionData .price {
  color: #333;
  line-height: 17px;
  position: relative;
  float: right;
  padding-left: 20px
}

.tile-item .AuctionData .price {
  background: #0000 url(/assets/svgIcon/hammer.svg) 0 50% no-repeat
}

@media screen and (max-width: 374px) {
  .tile-item {
    height: 268px
  }
}

.oneHDel {
  background: #ff8900 url(/assets/svgIcon/motorbikeWhite.svg) 7px 50% no-repeat;
  font-weight: 700
}

.oneHDel, .winners-count {
  position: absolute;
  right: 10px;
  top: 10px;
  border-radius: 5px;
  padding-left: 34px;
  padding-right: 7px;
  height: 25px;
  display: flex;
  align-items: center;
  font-size: 13px;
  color: #fff;
  z-index: 1
}

.winners-count {
  background: #f03372 url(/assets/multi-winner/winners.svg) 7px 50% no-repeat;
  font-weight: 500;
  cursor: pointer
}

.card-holder {
  width: fit-content;
  position: relative
}

span.DateTime.longPrice {
  max-width: 56px;
  text-overflow: ellipsis;
  overflow: hidden
}

span.price.longPrice {
  margin-top: 1px !important;
  font-size: 13px !important
}

@media screen and (max-width: 374px) {
  span.price.longPrice {
    margin-top: 2px !important;
    font-size: 9px !important
  }
}
