<div class="card-holder">
  <a aria-label="Click here to see Item Details" auction-id="0"
     class="tile-item ng-star-inserted" href="{{item.href}}"
  >
    <div class="ProductImage">
      <img alt="Item Image" src="{{item.img}}">
    </div>
    <!---->
    <div class="DescBar">
      <div class="Title"> {{item.title}}</div>
      <div class="SubTitle"> {{item.subTitle}}</div>
      <div class="AuctionData">
                        <span class="DateTime">
                          <app-count-down > {{item.countDownTime}}
                          </app-count-down>
                        </span>
        <span class="price">{{item.price}}</span>
      </div>
    </div>
  </a>
  <!---->
  <!---->
  <!---->
  <!---->
  <!---->
  <!---->
</div>
