<div _ngcontent-serverapp-c156="" class="cardLanding">
    <div _ngcontent-serverapp-c156="" class="ImgHolder">
        <img _ngcontent-serverapp-c156=""
            src="./assets/style-home/51-388_reshoot_1_250.jpg"
            alt="Giá giữ bằng nam châm" />
        <!---->
    </div>
    <div _ngcontent-serverapp-c156="" class="card-details">
        <p _ngcontent-serverapp-c156="">Giá giữ bằng nam châm</p>
        <p _ngcontent-serverapp-c156="" class="subTitle">Chiều dài: 12 inch (30.48 cm)
        </p>
        <div _ngcontent-serverapp-c156="" class="AuctionData">
            <span _ngcontent-serverapp-c156=""
                class="card-timer ng-star-inserted">00:00:15</span>
            <!---->
            <span _ngcontent-serverapp-c156="" class="card-price ng-star-inserted"><span
                    _ngcontent-serverapp-c156="">vnđ 1</span></span>
            <!---->
            <!---->
            <!---->
        </div>
    </div>
</div>