//:host {
//  display: flex;
//  flex-direction: column;
//  min-height: 100%
//}
//
//virtual-scroller {
//  flex-grow: 1
//}
//
//virtual-scroller .row {
//  display: flex;
//  justify-content: center;
//  height: 300px
//}
//
//@media screen and (max-width: 374px) {
//  virtual-scroller .row {
//    height: 277px
//  }
//}
//
//.feedLoading {
//  text-align: center;
//  margin-top: 55px
//}
//
//.feedLoading img {
//  width: 100px
//}
