<div _ngcontent-serverapp-c270="" style="height: 4604px;">
  <virtual-scroller  #scroll [items]="items" [horizontal]="false" >
    <div style="width: fit-content" *ngFor="let item of scroll.viewPortItems">
      <app-grid-tile-item [item]="item">

      </app-grid-tile-item>
    </div>
  </virtual-scroller>

</div>
