<div _ngcontent-serverapp-c106="" class="footer ng-star-inserted">
    <div _ngcontent-serverapp-c106="" class="SiteWidth">
        <div _ngcontent-serverapp-c106="" class="SiteCol">
            <div _ngcontent-serverapp-c106="" class="InfoBox">
                <h4 _ngcontent-serverapp-c106="">Trợ giúp &amp; Liên hệ</h4>
                <ul _ngcontent-serverapp-c106="" class="ng-star-inserted">
                    <!---->
                </ul>
                <!---->
            </div>
            <div _ngcontent-serverapp-c106="" class="InfoBox">
                <h4 _ngcontent-serverapp-c106="">Về 2way</h4>
                <ul _ngcontent-serverapp-c106="" class="ng-star-inserted">
                    <!---->
                </ul>
                <!---->
            </div>
        </div>
        <div _ngcontent-serverapp-c106="" class="SiteCol">
            <h4 _ngcontent-serverapp-c106="">Liên hệ với chúng tôi tại:</h4>
            <ul _ngcontent-serverapp-c106="" class="SocialLinks">
                <li _ngcontent-serverapp-c106="">
                    <a _ngcontent-serverapp-c106="" aria-label="Follow Chilindo on Facebook" target="_blank"
                        rel="noopener" href="https://www.facebook.com/ChilindoThailand/">
                        <i _ngcontent-serverapp-c106="" class="fab fa-facebook-f"></i>
                    </a>
                </li>
                <li _ngcontent-serverapp-c106="">
                    <a _ngcontent-serverapp-c106="" aria-label="Follow Chilindo on Twitter" target="_blank"
                        rel="noopener" href="https://twitter.com/chilindoauction">
                        <i _ngcontent-serverapp-c106="" class="fab fa-twitter"></i>
                    </a>
                </li>
                <li _ngcontent-serverapp-c106="">
                    <a _ngcontent-serverapp-c106="" aria-label="Follow Chilindo on Instagram" target="_blank"
                        rel="noopener" href="https://www.instagram.com/chilindo_auction/">
                        <i _ngcontent-serverapp-c106="" class="fab fa-instagram"></i>
                    </a>
                </li>
                <li _ngcontent-serverapp-c106="">
                    <a _ngcontent-serverapp-c106="" aria-label="Follow Chilindo on YouTube" target="_blank"
                        rel="noopener" href="https://www.youtube.com/channel/UCMrCeIr0j9D5qy1BLTZVJjw">
                        <i _ngcontent-serverapp-c106="" class="fab fa-youtube"></i>
                    </a>
                </li>
            </ul>
            <div _ngcontent-serverapp-c106="" class="SiteSupport">
                <div _ngcontent-serverapp-c106="">Có câu hỏi? Chúng tôi muốn nghe từ bạn!</div>
                <div _ngcontent-serverapp-c106="">
                    Email cho chúng tôi: <a _ngcontent-serverapp-c106=""
                        aria-label="Mail us to get Support from Chilindo"
                        href="mailto:support@chilindo.com">support@2way.com</a>
                </div>
            </div>
        </div>
        <div _ngcontent-serverapp-c106="" class="copyright">Copyright @ 2021 2way.com. All Rights Reserved.
        </div>
    </div>
</div>
<!---->
