<div class="Promis">
    <span class="ClosePromis"><i
        class="fas fa-times-circle"></i></span>
    <div class="SiteWidth">
      <ul>
        <li class="ReturnPolicy"><span>Chính sách đổi trả 30 ngày</span></li>
        <li class="DeliveryPolicy">
          <span class="ng-star-inserted">Phí giao hàng : vnđ 29</span>
          <!---->
          <!---->
        </li>
        <li class="AuctionStart">
          <span class="ng-star-inserted">TẤT CẢ SẢN PHẨM BẮT ĐẦU TỪ 1000vnđ</span>
          <!---->
        </li>
        <li class="ContactChilindo ng-star-inserted">
          <span class="ng-star-inserted">Liên hệ : support.vn@2way.com</span>
          <!---->
          <!---->
        </li>
        <!---->
      </ul>
    </div>
  </div>
