//.MainNav a {
//  color: #fff;
//  font-size: 15px !important;
//  white-space: nowrap;
//  text-overflow: ellipsis;
//  text-decoration: none;
//  display: inline-block;
//  line-height: 72px;
//  font-weight: 800;
//  padding: 0 10px !important;
//  min-width: auto !important;
//  position: relative;
//  border-radius: 0 !important;
//  font-family: Nunito, sans-serif
//}
//
//.MainNav a + a {
//  margin-left: 10px
//}
//
//@media screen and (max-width: 767px) {
//  .MainNav a {
//    line-height: 56px
//  }
//  .MainNav a + a {
//    margin-left: 0
//  }
//}
//
//.MainNav a img {
//  margin-right: 10px
//}
//
//.MainNav a img.d {
//  display: inline-block
//}
//
//.MainNav a img.m {
//  display: none
//}
//
//@media screen and (max-width: 767px) {
//  .MainNav a img {
//    margin-right: 0
//  }
//  .MainNav a img.d {
//    display: none
//  }
//  .MainNav a img.m {
//    display: inline-block
//  }
//}
//
//.MainNav a span {
//  display: inline-block;
//  vertical-align: middle;
//  line-height: 24px
//}
//
//@media screen and (max-width: 767px) {
//  .MainNav a span.txt {
//    display: none
//  }
//}
//
//.MainNav a em {
//  background-color: red;
//  border-radius: 50%;
//  color: #fff;
//  display: inline-block;
//  font-size: 10px;
//  font-weight: 500;
//  height: 18px;
//  line-height: 18px;
//  position: relative;
//  text-align: center;
//  top: 0;
//  width: 18px;
//  font-style: normal;
//  left: 4px
//}
//
//.MainNav a[aria-haspopup=true] i.fa-angle-down {
//  font-size: 20px;
//  position: relative;
//  transition: transform .25s cubic-bezier(.7, 0, .3, 1) 0s, all .25s ease-in-out;
//  transform: rotate(0deg);
//  font-size: 12px;
//  margin-left: 5px
//}
//
//.MainNav a[aria-expanded=true] {
//  background-color: #0000000d
//}
//
//.MainNav a[aria-expanded=true] i.fa-angle-down {
//  transform: rotate(180deg)
//}
//
//.SelectedLanguage {
//  position: relative
//}
//
//.SelectedLanguage strong {
//  position: relative;
//  width: 28px;
//  height: 28px;
//  overflow: hidden;
//  display: inline-block;
//  border-radius: 100%
//}
//
//
//////////



.Promis {
  background-color: #005884;
  min-height: 31px;
  position: relative
}

.Promis.UserClosed {
  display: block
}

.Promis .ClosePromis {
  display: none
}

@media screen and (max-width: 767px) {
  .Promis {
    display: none;
    min-height: 50px;
    background-color: #555;
    border-top: 1px solid #fff
  }
  .Promis .ClosePromis {
    display: block;
    position: absolute;
    right: 5px;
    width: 20px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    color: #fff;
    cursor: pointer;
    z-index: 9;
    top: 14px
  }
  .Promis.UserClosed {
    display: none
  }
}

.Promis ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: space-between
}

.Promis ul li {
  font-size: 13px;
  color: #fff;
  text-transform: uppercase;
  text-align: left;
  line-height: 31px;
  white-space: nowrap;
  font-style: italic
}

@media (max-width: 960px) {
  .Promis ul li {
    font-size: 10px
  }
}

@media (max-width: 840px) {
  .Promis ul li {
    font-size: 9px
  }
}

.Promis ul li.ReturnPolicy {
  text-align: left
}

.Promis ul li.AuctionStart, .Promis ul li.ContactChilindo, .Promis ul li.DeliveryPolicy {
  text-align: center
}

.Promis ul li i {
  font-size: 18px;
  position: relative;
  top: 3px;
  margin-right: 5px
}

@media screen and (max-width: 767px) {
  .Promis ul li i {
    font-size: 25px;
    top: 5px
  }
}

.Promis ul li span {
  display: inline-block;
  vertical-align: top;
  text-align: left;
  white-space: normal
}

@media screen and (max-width: 767px) {
  .Promis ul li span {
    width: 85px;
    line-height: normal;
    margin-top: 5px
  }
}

@media (max-width: 766.9px) {
  .Promis ul {
    display: block
  }
  .Promis ul li {
    text-transform: unset;
    font-size: 11px
  }
  .Promis ul li.ReturnPolicy {
    display: none
  }
  .Promis ul li.AuctionStart, .Promis ul li.DeliveryPolicy {
    width: 100%;
    line-height: 11px;
    font-size: 13px
  }
  .Promis ul li.AuctionStart i, .Promis ul li.DeliveryPolicy i {
    display: none
  }
  .Promis ul li.AuctionStart span, .Promis ul li.DeliveryPolicy span {
    width: auto;
    margin: 0
  }
  .Promis ul li.DeliveryPolicy {
    padding: 7px 0 2px
  }
  .Promis ul li.AuctionStart {
    padding: 2px 0 7px
  }
  .Promis ul li.ContactChilindo {
    display: none
  }
}
