<app-promis class="ng-star-inserted"></app-promis>
<mat-toolbar class="mat-toolbar mat-primary header mat-toolbar-multiple-rows" color="primary" id="myHeader">
  <mat-toolbar-row class="mat-toolbar-row SiteWidth">
    <a aria-label="Go to Home" class="SiteLogo ng-star-inserted" href="/">
      <img alt="Chilindo" class="ng-star-inserted" src="/assets/style-home/logo-Chilindo.svg">
    </a>
    <span class="spacer ng-star-inserted"></span>
    <nav class="MainNav ng-tns-c175-1 ng-star-inserted">

      <app-my-auctions-button *ngIf = "account"></app-my-auctions-button>
      <a *ngIf = "account" aria-disabled="false" aria-label="Giỏ hàng"
        class="mat-focus-indicator mat-button mat-button-base ng-tns-c175-1 ng-star-inserted" href="/my-bid"
        mat-button="" routerlinkactive="active" tabindex="0">
        <span class="mat-button-wrapper">
          <!-- <img alt="Giỏ hàng" class="m" src="/assets/svgIcon/cart.svg"> -->
          <img alt="Giỏ hàng" class="d" src="/assets/svgIcon/cart-white.svg">
          <span class="txt">Giỏ hàng</span>
        </span>
        <!--        <span class="mat-ripple mat-button-ripple" matripple=""></span>-->
        <span class="mat-button-focus-overlay"></span>
      </a>
      <a *ngIf = "account" aria-disabled="false" aria-haspopup="true" aria-label="Select more option for your account"
        class="mat-focus-indicator mat-menu-trigger onDesktop mat-button mat-button-base ng-tns-c175-1 ng-star-inserted"
        mat-button="" tabindex="0">
        <span class="mat-button-wrapper">
          <img src="/assets/svgIcon/user.svg">
          <span class="txt">Chào mừng, {{account?.login}}</span>
          <i class="fas fa-angle-down"></i>
        </span>
        <!--        <span class="mat-ripple mat-button-ripple" matripple=""></span>-->
        <span class="mat-button-focus-overlay"></span>
      </a>
      <a aria-disabled="false" aria-haspopup="true" aria-label="Click here to change Language"
        class="mat-focus-indicator mat-menu-trigger onDesktop ng-tns-c175-1 mat-button mat-button-base" mat-button=""
        tabindex="0">
        <span class="mat-button-wrapper">
          <span class="SelectedLanguage">
            <strong class="ng-tns-c175-1">
              <img alt="vi" class="ng-tns-c175-1 ng-star-inserted" src="https://cdn.chilindo.com/Gfx/Flags/Lang/vi.svg">
            </strong>
          </span>
        </span>
        <span class="mat-ripple mat-button-ripple" matripple=""></span>
        <span class="mat-button-focus-overlay"></span>
      </a>
      <mat-menu class="ng-star-inserted" xposition="before"></mat-menu>
      <mat-menu class="ng-tns-c175-1 ng-tns-c91-4 ng-star-inserted" xposition="before"></mat-menu>
    </nav>
    <a aria-disabled="false" aria-label="Toggle side navigation"
      class="mat-focus-indicator onMobile UserNav mat-button mat-button-base ng-star-inserted" mat-button=""
      tabindex="0">
      <span class="mat-button-wrapper">
        <img alt="Mobile navigation" src="/assets/svgIcon/mobileNav.svg">
      </span>
      <span class="mat-ripple mat-button-ripple" matripple=""></span>
      <span class="mat-button-focus-overlay"></span>
    </a>
  </mat-toolbar-row>
</mat-toolbar>