<div class="BiddingHistory ng-star-inserted">
  <div class="absScale"></div>
  <table id = "table-his" class="mat-table ng-star-inserted">
    <thead>
      <tr class="mat-header-row">
        <th class="mat-header-cell"> Hồ sơ / Đấu tự động</th>
        <th class="mat-header-cell"> Giá thầu</th>
        <th class="mat-header-cell">Số lượng</th>
        <th class="mat-header-cell">Ngày giờ</th>
      </tr>
    </thead>
    <tbody id="his-body">
      <tr *ngFor = "let item of bidDes " class="mat-row ng-star-inserted">
        <td class="mat-cell"><i class="fas fa-trophy ng-star-inserted"></i>
          <div class="userName">
            <div class="bidUserName">{{item?.userAction.email}}</div>
          </div>
        </td>
        <td class="mat-cell">{{item.price}}</td>
        <td class="mat-cell">1</td>
        <td class="mat-cell">{{item.time | formatMediumDatetime }}</td>
      </tr>

    </tbody>
  </table>
  <!---->
  <!---->
</div>