.BiddingHistory {
  box-sizing: border-box;
  background-color: #fff;
  border: 1px solid #0000001f;
  border-bottom: none;
  margin: 16px 0 0;
  position: relative
}

.BiddingHistory.multiWinnerBlock {
  border: none
}

.BiddingHistory .absScale {
  position: absolute;
  width: 20px;
  height: 20px;
  top: -70px
}

@media (max-width: 767px) {
  .BiddingHistory {
    border-left: none;
    border-right: none;
    margin: 16px -10px 0
  }
}

.BiddingHistory table {
  width: 100%;
  border-spacing: inherit
}

.BiddingHistory table tr {
  line-height: 37px;
  border-bottom: 1px solid #ebebeb;
  display: flex
}

.BiddingHistory table tr th {
  cursor: default
}

.BiddingHistory table tr th:first-child {
  padding-left: 10px
}

.BiddingHistory table tr td:first-child, .BiddingHistory table tr th:first-child {
  width: 40%;
  cursor: default
}

.BiddingHistory table tr td:nth-child(2), .BiddingHistory table tr td:nth-child(3), .BiddingHistory table tr th:nth-child(2), .BiddingHistory table tr th:nth-child(3) {
  width: 20%;
  cursor: default
}

.BiddingHistory table tr td:nth-child(4), .BiddingHistory table tr th:nth-child(4) {
  width: 20%;
  cursor: default;
  padding-right: 10px
}

.BiddingHistory table td, .BiddingHistory table th {
  text-align: center
}

.BiddingHistory table th {
  color: #027ca5;
  font-size: 15px
}

@media screen and (max-width: 767px) {
  .BiddingHistory table th {
    font-size: 12px
  }
}

.BiddingHistory table td.mat-cell:first-of-type, .BiddingHistory table th.mat-header-cell:first-of-type {
  text-align: left
}

.BiddingHistory table td.mat-cell:first-of-type {
  position: relative
}

@media screen and (max-width: 767px) {
  .BiddingHistory table td.mat-cell:first-of-type {
    position: unset
  }
}

.BiddingHistory table td.mat-cell:first-of-type i {
  position: absolute;
  left: 9px;
  top: 15px;
  font-size: 12px
}

@media screen and (max-width: 767px) {
  .BiddingHistory table td.mat-cell:first-of-type i {
    display: none
  }
}

.BiddingHistory table td.mat-cell:first-of-type span {
  display: inline-block;
  line-height: 12px
}

@media (max-width: 430px) {
  .BiddingHistory table td.mat-cell:first-of-type span {
    zoom: .8
  }
}

.BiddingHistory table td.mat-cell:first-of-type span img {
  height: 18px;
  vertical-align: top;
  margin: 0 5px 0 2px
}

.BiddingHistory table td.mat-cell:first-of-type span em {
  color: #419809;
  line-height: 18px;
  font-family: roboto, sans-serif;
  font-size: 14px;
  font-weight: 600;
  display: inline-block
}

.BiddingHistory table td.mat-cell:last-of-type, .BiddingHistory table th.mat-header-cell:last-of-type {
  text-align: right
}

@media screen and (max-width: 767px) {
  .BiddingHistory table td.mat-cell:first-of-type, .BiddingHistory table th.mat-header-cell:first-of-type {
    padding-left: 8px
  }
  .BiddingHistory table td.mat-cell:last-of-type, .BiddingHistory table th.mat-header-cell:last-of-type {
    padding-right: 8px
  }
}

a.viewMore {
  font-size: 13px;
  text-decoration: none;
  border-bottom: 1px solid;
  color: #0b0b0b;
  font-weight: 700
}

a.viewMore i {
  font-size: 11px;
  padding-left: 5px
}

.userName {
  padding-left: 27px;
  overflow: hidden;
  padding-right: 6px;
  float: left
}

@media (max-width: 600px) {
  .userName {
    padding-left: 0;
    line-height: 20px;
    padding-bottom: 7px;
    padding-top: 6px
  }
}

button.viewMore {
  background: #f1fcff;
  border-radius: 0;
  border: 1px solid #ebebeb;
  padding: 7px 12px;
  font-size: 11px;
  cursor: pointer
}

button.viewMore span {
  padding-right: 5px
}

@media screen and (max-width: 365px) {
  button.viewMore span {
    display: none;
    padding-right: 0
  }
}

.topRightNav {
  position: fixed;
  right: -4px;
  z-index: 9999999;
  top: 14px;
  display: none
}

@media (max-width: 767px) {
  .topRightNav {
    display: inline-block
  }
}

.topRightNav img {
  margin-right: 10px
}

.topRightNav em {
  font-style: normal;
  position: relative;
  background: #f50002;
  border-radius: 15px;
  text-align: center;
  text-decoration: none;
  font-size: 10px;
  padding: 3px;
  right: 13px;
  color: #fff;
  top: -15px;
  min-width: 12px;
  display: inline-block
}

.historyBtn {
  display: flex;
  box-sizing: border-box;
  margin-top: 5px;
  width: 100%;
  flex-direction: row;
  align-items: center;
  white-space: nowrap
}

.historyBtn button:not(.viewMore) {
  zoom: .8
}

.bidUserName {
  display: inline-block
}

@media (max-width: 600px) {
  .bidUserName {
    padding-left: 0;
    padding-right: 6px;
    float: left;
    max-width: 114px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap
  }
}

@media (max-width: 767px) {
  .multiWinnerList {
    padding: 0 10px
  }
}

.multiWinnerList .biddersList {
  color: #267ca5;
  font-family: Nunito, sans-serif;
  font-size: 18px;
  line-height: 39px;
  padding-left: 32px;
  margin: 0;
  background: #0000 url(/assets/svgIcon/winners.svg) 0 50% no-repeat
}

.multiWinnerList ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  background-color: #f5f5f5;
  border-radius: 7px
}

.multiWinnerList ul li {
  display: flex;
  padding: 10px;
  align-items: center;
  justify-content: space-between;
  font-size: 13px
}

.multiWinnerList ul li + li {
  margin-top: 0
}

.multiWinnerList ul li .user-position {
  display: flex
}

.multiWinnerList ul li .user-position em {
  font-style: normal;
  color: #26a300;
  font-size: 15px;
  font-weight: 500;
  width: 35px
}

.multiWinnerList ul li.looser .user-position em {
  color: #eb2929
}

.multiWinnerList ul li.currentUser {
  border-radius: 7px;
  background-color: #fff;
  font-weight: 600;
  box-shadow: 0 1px 6px #00000029;
  border: 1px solid #26a31a
}

.multiWinnerList ul li.currentUser .amount {
  color: #26a31a
}

.multiWinnerList ul li.currentUser.looser {
  border: 1px solid #eb2929
}
