<section _ngcontent-serverapp-c271="" id="parentDiv" infinitescroll="" scrollspy="" spyscrollcontainerid="mainContainer" class="Container">
  <div _ngcontent-serverapp-c271="" class="feedPage vi">
    <!---->
    <app-campaigns _ngcontent-serverapp-c271="" class="ng-tns-c163-1 ng-star-inserted">
    </app-campaigns>
    <div _ngcontent-serverapp-c271="" class="FilterFeed" style="top: 53px;">
      <div _ngcontent-serverapp-c271="" class="flex">
        <!---->
        <app-feed-nav _ngcontent-serverapp-c271="" _nghost-serverapp-c259="" class="ng-star-inserted">

        </app-feed-nav>
        <!---->
      </div>
      <div _ngcontent-serverapp-c271="" class="expansionPanel ng-star-inserted">
        <div _ngcontent-serverapp-c271="" class="catNavCont">
          <div _ngcontent-serverapp-c271="" id="navDivCont" class="autoScroll">
            <button _ngcontent-serverapp-c271="" class="prevFeedBtn btnDisable" disabled="">
              <img _ngcontent-serverapp-c271="" src="/assets/svgIcon/feed-Scroll.svg" alt="Scroll back">
            </button>
            <a _ngcontent-serverapp-c271="" id="catNav_0" routerlinkactiveoptions="{ exact: true }" routerlinkactive="active" class="catNavSpan ng-star-inserted active" href="/th-vi/feed/user">Kết thúc ngay</a>
            <a _ngcontent-serverapp-c271="" id="catNav_1" routerlinkactiveoptions="{ exact: true }" routerlinkactive="active" class="catNavSpan ng-star-inserted" href="/th-vi/feed/hotitems">Sản phẩm bán chạy</a>
            <a _ngcontent-serverapp-c271="" id="catNav_2" routerlinkactiveoptions="{ exact: true }" routerlinkactive="active" class="catNavSpan ng-star-inserted" href="/th-vi/feed/newitems">Sản phẩm mới</a>
            <!---->
            <!---->
            <!---->
            <!---->
            <!---->
            <!---->
            <button _ngcontent-serverapp-c271="" class="nextFeedBtn">
              <img _ngcontent-serverapp-c271="" src="/assets/svgIcon/feed-Scroll.svg" alt="Scroll to next">
            </button>
          </div>
        </div>
      </div>
      <!---->
    </div>
    <!---->
    <!---->
    <div _ngcontent-serverapp-c271="" class="FeedList ng-star-inserted">
      <!---->
      <!---->
      <div _ngcontent-serverapp-c271="" class="feedItems">
<!--        <app-multi-auction-feed _ngcontent-serverapp-c271="" _nghost-serverapp-c267="" class="ng-star-inserted">-->
<!--          &lt;!&ndash;&ndash;&gt;-->
<!--        </app-multi-auction-feed>-->
<!--        &lt;!&ndash;&ndash;&gt;-->
<!--        &lt;!&ndash;&ndash;&gt;-->
<!--        &lt;!&ndash;&ndash;&gt;-->
<!--        <app-fixed-price-deals _ngcontent-serverapp-c271="" _nghost-serverapp-c268="" class="ng-star-inserted">-->
<!--          &lt;!&ndash;&ndash;&gt;-->
<!--        </app-fixed-price-deals>-->
<!--        &lt;!&ndash;&ndash;&gt;-->
<!--        &lt;!&ndash;&ndash;&gt;-->
      </div>
    </div>
    <!---->
    <app-endless-feed _ngcontent-serverapp-c271="" _nghost-serverapp-c270="" class="ng-star-inserted" style="height: 10304px;">

      <!---->
    </app-endless-feed>
    <!---->
    <!---->
    <!---->
    <!---->
    <!---->
    <!---->
  </div>
</section>
