.feedPage {
  max-width: 1055px;
  margin: 0 auto
}

.feedItems {
  padding-top: 2px;
  display: flex;
  flex-wrap: wrap
}

@media screen and (max-width: 767px) {
  .feedItems {
    padding-top: 12px
  }
}

@media screen and (max-width: 640px) {
  .feedItems {
    padding-top: 6px;
    justify-content: center
  }
}

.Container {
  padding-top: 12px;
  padding-bottom: 12px
}

@media screen and (max-width: 767px) {
  .Container {
    padding: 12px
  }
}

app-credit-bar {
  display: block
}

@media (max-width: 767px) {
  app-credit-bar {
    margin-top: 57px
  }
}

app-campaigns {
  display: block
}

@media (max-width: 767px) {
  app-campaigns {
    margin-top: 57px
  }
  app-credit-bar + app-campaigns {
    margin-top: 5px
  }
}

app-filter-auction-feed {
  display: block;
  border-bottom: 1px solid #c7c7c7;
  padding: 0 0 14px
}

.FilterFeed {
  position: sticky;
  top: 56px;
  background-color: #fff;
  padding: 0 7px 12px;
  margin: 0 -7px;
  z-index: 999;
  transition: top .1s linear;
  overflow: hidden
}

@media (max-width: 767px) {
  .FilterFeed {
    top: 53px;
    padding: 0 12px;
    margin: 0 -12px
  }
}

@media (max-width: 350px) {
  .FilterFeed {
    min-height: 96px
  }
}

@media (min-width: 1199px) {
  .FilterFeed {
    top: 56px
  }
}

.FilterFeed.hide-nav {
  top: -56px
}

.FilterFeed .flex {
  display: flex;
  box-sizing: border-box;
  width: 100%;
  flex-direction: row;
  align-items: center;
  white-space: nowrap;
  border-bottom: 1px solid #c7c7c7
}

.FilterFeed .SelectedFeed {
  display: flex;
  height: 38px;
  align-items: center;
  font-size: 20px;
  font-weight: 600;
  font-family: Roboto
}

.FilterFeed .SelectedFeed img {
  height: 38px;
  margin-right: 10px;
  margin-bottom: 0
}

.FilterFeed .filterIcon.desktop {
  display: inline-block
}

.FilterFeed .filterIcon.mobile {
  display: none
}

@media screen and (max-width: 580px) {
  .FilterFeed .filterIcon.desktop {
    display: none
  }
  .FilterFeed .filterIcon.mobile {
    display: block
  }
}

.filterMobile {
  display: none
}

@media screen and (max-width: 767px) {
  .filterMobile {
    display: inline-block
  }
}

.categoryFilter {
  display: flex;
  align-items: center;
  text-decoration: none;
  cursor: pointer;
  justify-content: center;
  padding: 0 10px;
  line-height: 42px;
  border-bottom: 3px solid #0000;
  border-top: 3px solid #0000;
  color: #848484;
  font-size: 15px;
  transition: all .25s ease-in-out
}

.categoryFilter img {
  height: 19.29px;
  transition: all .25s ease-in-out;
  margin-right: 10px
}

.categoryFilter.active, .categoryFilter.opened {
  border-bottom-color: #18b7ea;
  color: #18b7ea;
  font-weight: 500
}

.expansionPanel app-filter-auction-feed {
  display: block;
  padding: 0 0 12px
}

.filterFixedPriceFeed {
  position: fixed;
  top: -1000px;
  left: -1000px;
  padding: 0 0 10px
}

.filterFixedPriceFeed.showSort {
  position: unset;
  top: unset;
  left: unset
}

.filterFixedPriceFeed span {
  display: inline-block;
  vertical-align: top;
  padding: 3px 0;
  overflow: hidden
}

.filterFixedPriceFeed span.txt {
  margin: 0 10px 0 5px
}

.filterFixedPriceFeed span svg {
  float: left;
  margin-top: 3px
}

.filterFixedPriceFeed span .mat-select {
  width: 200px;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 13px
}

.filterFixedPriceFeed .mat-select-value {
  max-width: unset !important;
  width: auto !important
}

.mat-expansion-panel {
  box-shadow: none;
  margin: 0;
  padding: 0
}

.mat-expansion-panel-body {
  padding: 0 !important
}

.feed .sticky {
  position: sticky;
  z-index: 9999;
  top: 0;
  margin-top: -3px;
  height: 56px !important;
  min-height: 56px !important
}

.feed .sticky .mat-toolbar-row {
  height: 56px !important;
  min-height: 56px !important
}

.feed .sticky .MainNav a {
  line-height: 56px
}

h3 {
  margin-top: 55px;
  text-align: center;
  font-size: 20px;
  font-weight: 500;
  line-height: 20px;
  margin-bottom: 0
}

@media screen and (max-width: 767px) {
  h3 {
    margin-top: 30px
  }
}

.menuLoading {
  display: flex;
  align-items: center
}

.menuLoading span {
  height: 45px;
  width: 130px;
  background-color: #00000008;
  border-bottom: 3px solid #0000001a
}

.menuLoading span + span {
  margin-left: 10px;
  border-bottom-color: #0000
}

.feedLoading {
  text-align: center;
  margin-top: 55px
}

.feedLoading img {
  width: 100px
}

.seeMore {
  padding: 0 7px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between
}

.seeMore h5 {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-weight: 500
}

.seeMore a {
  font-size: 14px;
  cursor: pointer
}

.backToFeed {
  padding: 10px 7px;
  display: flex;
  align-items: center
}

.backToFeed i {
  font-size: 24px
}

.backToFeed div {
  display: flex;
  align-items: center;
  flex-direction: column
}

.backToFeed strong {
  text-transform: uppercase;
  font-size: 11px;
  line-height: 11px;
  color: #1ab7ea;
  font-weight: 500;
  width: 100%
}

.backToFeed h5 {
  padding: 0;
  font-size: 16px;
  font-weight: 500;
  line-height: 16px;
  margin: 0;
  width: 100%
}

.carousel-cell .seeMoreCell {
  padding: 0;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #c5edfa;
  border-radius: 8px;
  height: 292px
}

app-endless-feed {
  min-height: calc(100vh - 56px);
  width: 100%;
  margin-top: 7px
}

@media screen and (min-width: 768px) {
  app-endless-feed {
    margin-top: 12px
  }
}

.productDetailsOnFeed {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 100vw;
  left: -100vw;
  background-color: #fff;
  opacity: 0;
  z-index: 99999999;
  overflow-y: auto;
  overflow-x: hidden;
  transition: all .25s ease-in-out
}

.productDetailsOnFeed.opened {
  left: 0;
  opacity: 1
}

.catNavCont {
  border-bottom: 1px solid #c7c7c7;
  overflow: hidden;
  height: 41px;
  position: relative;
  padding: 0 41px
}

@media screen and (max-width: 580px) {
  .catNavCont {
    padding: 0
  }
}

.subCategoryItems h5 {
  margin: 0;
  font-size: 16px;
  font-weight: 500;
  padding: 12px 9px
}

button.nextFeedBtn, button.prevFeedBtn {
  min-width: 41px;
  position: absolute;
  top: 0;
  display: none;
  align-items: center;
  height: 41px;
  justify-content: center;
  border: none;
  background-color: initial;
  cursor: pointer;
  transition: all .25s ease-in-out
}

@media screen and (min-width: 767px) {
  button.nextFeedBtn, button.prevFeedBtn {
    display: flex
  }
}

button.nextFeedBtn img, button.prevFeedBtn img {
  margin: 0
}

button.nextFeedBtn.btnDisable, button.prevFeedBtn.btnDisable {
  opacity: .25;
  cursor: default
}

button.nextFeedBtn {
  right: 0
}

button.prevFeedBtn {
  left: 0
}

button.prevFeedBtn img {
  transform: rotate(180deg)
}

.oddFeeds {
  position: relative
}

.oddFeeds:before {
  padding-bottom: 132.8%
}

.oddFeeds:after, .oddFeeds:before {
  display: block;
  width: 100%;
  position: relative;
  content: ""
}

.oddFeeds:after {
  padding: 5px;
  margin-top: 4px;
  height: 70px;
  box-sizing: border-box
}

.NoItemFound {
  width: 100%
}

app-footer {
  display: block;
  margin: 10px -12px -12px;
  background: #18b7ea
}
