//.productInfo .sub-header {
//  font-size: 11px;
//  line-height: 11px;
//  text-transform: uppercase;
//  color: #a5a5a6;
//  letter-spacing: .5px;
//  display: block;
//  margin-bottom: 10px;
//  font-family: Open Sans
//}
//
//.productInfo .bidData {
//  display: flex;
//  justify-content: space-between;
//  flex-wrap: wrap;
//  padding: 0 0 12px
//}
//
//.productInfo .bidData .TimeTickerProduct {
//  width: 100%;
//  order: 1;
//  margin-bottom: 24px
//}
//
//.productInfo .bidData .TimeTickerProduct small {
//  display: none
//}
//
//.productInfo .bidData .TimeTickerProduct div {
//  color: #c35;
//  font-weight: 500;
//  font-size: 25px;
//  line-height: 35px;
//  height: 38px;
//  position: relative;
//  z-index: 1
//}
//
//.productInfo .bidData .TimeTickerProduct span {
//  background: #fbfbfb;
//  border-radius: 5px;
//  width: 30px;
//  text-align: center;
//  cursor: default
//}
//
//@media screen and (min-width: 767px) {
//  .productInfo .bidData .TimeTickerProduct span {
//    border: 1px solid #0000001f;
//    padding: 0 10px;
//    width: 50px;
//    font-weight: 400
//  }
//}
//
//.productInfo .bidData .TimeTickerProduct b, .productInfo .bidData .TimeTickerProduct span {
//  color: #c35;
//  display: inline-block;
//  font-weight: 600;
//  vertical-align: top;
//  box-sizing: border-box;
//  font-family: roboto, sans-serif
//}
//
//@media (max-width: 767px) {
//  .productInfo .bidData .TimeTickerProduct b, .productInfo .bidData .TimeTickerProduct span {
//    font-weight: 400;
//    background: #fff
//  }
//}
//
//@media screen and (min-width: 767px) {
//  .productInfo .bidData .TimeTickerProduct b {
//    margin: 0 5px
//  }
//}
//
//.productInfo .bidData .TimeTickerProduct .timerBox {
//  background: #ffb846;
//  background: linear-gradient(90deg, #ffb846, #ff5d21);
//  width: 252px;
//  height: 81px;
//  border-radius: 5px;
//  text-align: center;
//  font-weight: 400;
//  line-height: unset;
//  position: relative;
//  padding: 10px;
//  box-sizing: border-box
//}
//
//.productInfo .bidData .TimeTickerProduct .timerBox h3 {
//  color: #fff;
//  font-size: 16px;
//  line-height: 16px;
//  padding: 0 0 10px;
//  margin: 0;
//  text-shadow: 0 2px 3px #00000054
//}
//
//.productInfo .bidData .TimeTickerProduct .timerBox .salePrice span {
//  box-shadow: 0 3px 6px #0000004f;
//  border: none;
//  padding: 0 6px;
//  width: auto;
//  line-height: 30px
//}
//
//.productInfo .bidData .TimeTickerProduct .timerBox .salePrice b {
//  color: #fff;
//  text-shadow: 0 2px 3px #00000054;
//  background-color: initial;
//  margin: 0 4px;
//  line-height: 30px
//}
//
//.productInfo .bidData .TimeTickerProduct .timerBox .tLeftImg, .productInfo .bidData .TimeTickerProduct .timerBox .tRightImg {
//  position: absolute;
//  bottom: 0;
//  max-width: 51px
//}
//
//.productInfo .bidData .TimeTickerProduct .timerBox .tLeftImg {
//  left: 0
//}
//
//.productInfo .bidData .TimeTickerProduct .timerBox .tRightImg {
//  right: 0
//}
//
//@media screen and (max-width: 767px) {
//  .productInfo .bidData .TimeTickerProduct .timerBox {
//    width: 200px;
//    height: 76px
//  }
//  .productInfo .bidData .TimeTickerProduct .timerBox h3 {
//    font-size: 13px;
//    line-height: 13px
//  }
//}
//
//.productInfo .bidData .BidPrice {
//  flex: 0 0 130px;
//  order: 2;
//  cursor: default
//}
//
//.productInfo .bidData .BidPrice span {
//  display: block
//}
//
//.productInfo .bidData .BidPrice span em, .productInfo .bidData .BidPrice span strong {
//  font-size: 21px;
//  font-weight: 400;
//  line-height: 21px;
//  font-style: normal;
//  display: inline-block;
//  vertical-align: top
//}
//
//.productInfo .bidData .BidPrice span em {
//  color: #000
//}
//
//.productInfo .bidData .BidPrice span strong {
//  color: #26a300
//}
//
//.productInfo .bidData .BidWinner {
//  flex: 0 0 calc(100% - 130px);
//  width: calc(100% - 130px);
//  order: 3;
//  cursor: default
//}
//
//.productInfo .bidData .BidWinner span {
//  font-size: 16px;
//  display: block;
//  font-weight: 400;
//  line-height: 21px;
//  background: url(/assets/svgIcon/trophy.svg) 0 50%/18px no-repeat;
//  padding-left: 24px
//}
//
//@media screen and (max-width: 1024px) {
//  .productInfo .bidData .BidPrice {
//    flex: 0 0 100%
//  }
//  .productInfo .bidData .BidWinner {
//    margin-top: 24px;
//    flex: 0 0 100%
//  }
//}
//
//@media screen and (max-width: 780px) and (min-width: 600px) {
//  .productInfo .bidData .BidWinner {
//    flex: 0 0 60%;
//    margin-top: 0
//  }
//  .productInfo .bidData .BidPrice {
//    flex: 0 0 39%
//  }
//}
//
//@media screen and (max-width: 767px) {
//  .productInfo .bidData {
//    padding: 0 0 16px
//  }
//  .productInfo .bidData small {
//    font-size: 13px;
//    line-height: 13px
//  }
//  .productInfo .bidData .TimeTickerProduct {
//    width: auto;
//    order: 2;
//    text-align: right;
//    margin-bottom: 0
//  }
//  .productInfo .bidData .TimeTickerProduct small {
//    display: block
//  }
//  .productInfo .bidData .TimeTickerProduct div {
//    height: 25px;
//    line-height: 25px;
//    font-size: 20px
//  }
//  .productInfo .bidData .TimeTickerProduct.losing .sub-header, .productInfo .bidData .TimeTickerProduct.losing div {
//    color: #c00
//  }
//  .productInfo .bidData .TimeTickerProduct.winning .sub-header, .productInfo .bidData .TimeTickerProduct.winning div {
//    color: #26a300
//  }
//  .productInfo .bidData .BidPrice {
//    flex: 1;
//    order: 1
//  }
//  .productInfo .bidData .BidPrice em, .productInfo .bidData .BidPrice strong {
//    font-size: 25px;
//    line-height: 25px
//  }
//  .productInfo .bidData .BidWinner {
//    display: none
//  }
//}
//
//.productInfo mat-divider {
//  margin: 12px 0 24px
//}
//
//.productInfo .options {
//  box-sizing: border-box
//}
//
//.productInfo .options .selectOption .mask {
//}
