<div class="SignUp_SignIn">


    <form name="loginForm" role="form" novalidate (ngSubmit)="login()" [formGroup]="loginForm">
        <div class="formRow">
            <mat-form-field>
                <input type="text"
                    class="mat-input-element mat-form-field-autofill-control ng-tns-c98-41 ng-untouched ng-pristine ng-invalid cdk-text-field-autofill-monitored"
                    name="username" id="username" placeholder="Your username" formControlName="username" #username
                    data-cy="username" />
            </mat-form-field>

        </div>
        <div class="formRow">
            <mat-form-field>
                <input type="password"
                    class="mat-input-element mat-form-field-autofill-control ng-tns-c98-41 ng-untouched ng-pristine ng-invalid cdk-text-field-autofill-monitored"
                    name="password" id="password" placeholder="Your password" formControlName="password"
                    data-cy="password" />
            </mat-form-field>
            <app-errors _nghost-serverapp-c100="">

            </app-errors>
        </div>

        <div class="LinkBox">
            <a aria-label="Got to Forgot Password Section to recover your password">Quên
                mật
                khẩu?</a>
        </div>
        <div class="SubmitBtn">
            <button aria-label="Login Now" type="submit" mat-flat-button="" color="primary"
                class="mat-focus-indicator login mat-flat-button mat-button-base mat-primary">
                <span class="mat-button-wrapper">Đăng nhập</span><span matripple=""
                    class="mat-ripple mat-button-ripple"></span>
                <span class="mat-button-focus-overlay"></span>
            </button>
        </div>
    </form>
</div>