.fill {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.try-app {
    font-family: Roboto, Helvetica Neue, sans-serif;
    background-color: #fff;
    z-index: 1;
    margin: 10px;
    padding: 15px;
    border-radius: 15px;
    text-align: center;
    color: #0d0d0d;
}
.inner-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.no-script-content {
    min-width: 200px;
    max-width: 600px;
    padding: 10px;
    border-radius: 15px;
    box-shadow: rgb(96, 96, 96) 0px 1px 4px;
}
.try-app .apps {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.try-app .apps .app {
    flex: 1;
    min-width: 200px;
    max-width: 250px;
}
.try-app .apps .app img {
    width: 100%;
}
.lin {
    margin: 0px 25px 25px 0px;
}