<!-- <app-root _nghost-serverapp-c63="" ng-version="11.2.14"> -->
<!---->
<mat-sidenav-container _ngcontent-serverapp-c63="" hasbackdrop="false">
  <!---->
  <!-- <mat-sidenav _ngcontent-serverapp-c63="" tabindex="-1" mode="over" position="end"
    class="mat-drawer mat-sidenav RightSideNav ng-tns-c61-0 ng-trigger ng-trigger-transform mat-drawer-end mat-drawer-over ng-star-inserted"
    style="box-shadow: none; visibility: hidden;">
    <div cdkscrollable="" class="mat-drawer-inner-container ng-tns-c61-0">
    </div>
  </mat-sidenav>
  <div class="cdk-visually-hidden cdk-focus-trap-anchor" aria-hidden="true"></div> -->
  <mat-sidenav-content _ngcontent-serverapp-c63="" class="mat-drawer-content mat-sidenav-content">
    <div _ngcontent-serverapp-c63="" id="mainContainer">
      <app-landing-header ></app-landing-header>
      <!---->
      <!---->
      <router-outlet></router-outlet>
      <!-- <app-landing ></app-landing> -->
      <!---->
      <!---->
      <app-footer></app-footer>
      <!---->
    </div>
  </mat-sidenav-content>
  <!---->
</mat-sidenav-container>
<!-- </app-root> -->