<!--<div _ngcontent-serverapp-c145="" class="SignUp_SignIn">-->
<!--    <form _ngcontent-serverapp-c145="" novalidate="" autocomplete="off" class="ng-untouched ng-pristine ng-invalid">-->

<!--        <div _ngcontent-serverapp-c145="" class="formRow">-->
<!--            <mat-form-field _ngcontent-serverapp-c145="" floatlabel="never"-->
<!--                class="mat-form-field ng-tns-c98-43 mat-primary mat-form-field-type-mat-input mat-form-field-appearance-legacy mat-form-field-has-label mat-form-field-hide-placeholder ng-untouched ng-pristine ng-invalid ng-star-inserted">-->
<!--                <div class="mat-form-field-wrapper ng-tns-c98-43">-->
<!--                    <div class="mat-form-field-flex ng-tns-c98-43">-->


<!--                        <div class="mat-form-field-infix ng-tns-c98-43">-->
<!--                            <input _ngcontent-serverapp-c145="" aria-label="User Name" type="text" matinput=""-->
<!--                                formcontrolname="userName" maxlength="50" autocomplete="off" minlength="6" required=""-->
<!--                                class="mat-input-element mat-form-field-autofill-control ng-tns-c98-43 ng-untouched ng-pristine ng-invalid cdk-text-field-autofill-monitored"-->
<!--                                id="mat-input-21" data-placeholder="Tên tài khoản" aria-invalid="false"-->
<!--                                aria-required="true" />-->
<!--                            <span class="mat-form-field-label-wrapper ng-tns-c98-43">-->
<!--                                <label-->
<!--                                    class="mat-form-field-label ng-tns-c98-43 mat-empty mat-form-field-empty ng-star-inserted"-->
<!--                                    id="mat-form-field-label-49" for="mat-input-21" aria-owns="mat-input-21">-->
<!--                                    <span class="ng-tns-c98-43 ng-star-inserted">Tên tài-->
<!--                                        khoản</span>-->



<!--                                    <span aria-hidden="true"-->
<!--                                        class="mat-placeholder-required mat-form-field-required-marker ng-tns-c98-43 ng-star-inserted">-->
<!--                                        *</span>-->

<!--                                </label>-->

<!--                            </span>-->
<!--                        </div>-->

<!--                    </div>-->
<!--                    <div class="mat-form-field-underline ng-tns-c98-43 ng-star-inserted"><span-->
<!--                            class="mat-form-field-ripple ng-tns-c98-43"></span></div>-->

<!--                    <div class="mat-form-field-subscript-wrapper ng-tns-c98-43">-->

<!--                        <div class="mat-form-field-hint-wrapper ng-tns-c98-43 ng-trigger ng-trigger-transitionMessages ng-star-inserted"-->
<!--                            style="opacity: 1; transform: translateY(0%);">-->

<!--                            <div class="mat-form-field-hint-spacer ng-tns-c98-43"></div>-->
<!--                        </div>-->

<!--                    </div>-->
<!--                </div>-->
<!--            </mat-form-field>-->

<!--            <app-errors _ngcontent-serverapp-c145="" _nghost-serverapp-c100="">-->

<!--            </app-errors>-->
<!--        </div>-->
<!--        <div _ngcontent-serverapp-c145="" class="formRow">-->
<!--            <mat-form-field _ngcontent-serverapp-c145="" floatlabel="never"-->
<!--                class="mat-form-field ng-tns-c98-44 mat-primary mat-form-field-type-mat-input mat-form-field-appearance-legacy mat-form-field-has-label mat-form-field-hide-placeholder ng-untouched ng-pristine ng-invalid ng-star-inserted">-->
<!--                <div class="mat-form-field-wrapper ng-tns-c98-44">-->
<!--                    <div class="mat-form-field-flex ng-tns-c98-44">-->


<!--                        <div class="mat-form-field-infix ng-tns-c98-44">-->
<!--                            <input _ngcontent-serverapp-c145="" aria-label="Email" type="text" matinput=""-->
<!--                                formcontrolname="email" autocomplete="off" required=""-->
<!--                                class="mat-input-element mat-form-field-autofill-control ng-tns-c98-44 ng-untouched ng-pristine ng-invalid cdk-text-field-autofill-monitored"-->
<!--                                id="mat-input-22" data-placeholder="Email" aria-invalid="false" aria-required="true" />-->
<!--                            <span class="mat-form-field-label-wrapper ng-tns-c98-44">-->
<!--                                <label-->
<!--                                    class="mat-form-field-label ng-tns-c98-44 mat-empty mat-form-field-empty ng-star-inserted"-->
<!--                                    id="mat-form-field-label-51" for="mat-input-22" aria-owns="mat-input-22">-->
<!--                                    <span class="ng-tns-c98-44 ng-star-inserted">Email</span>-->



<!--                                    <span aria-hidden="true"-->
<!--                                        class="mat-placeholder-required mat-form-field-required-marker ng-tns-c98-44 ng-star-inserted">-->
<!--                                        *</span>-->

<!--                                </label>-->

<!--                            </span>-->
<!--                        </div>-->

<!--                    </div>-->
<!--                    <div class="mat-form-field-underline ng-tns-c98-44 ng-star-inserted"><span-->
<!--                            class="mat-form-field-ripple ng-tns-c98-44"></span></div>-->

<!--                    <div class="mat-form-field-subscript-wrapper ng-tns-c98-44">-->

<!--                        <div class="mat-form-field-hint-wrapper ng-tns-c98-44 ng-trigger ng-trigger-transitionMessages ng-star-inserted"-->
<!--                            style="opacity: 1; transform: translateY(0%);">-->

<!--                            <div class="mat-form-field-hint-spacer ng-tns-c98-44"></div>-->
<!--                        </div>-->

<!--                    </div>-->
<!--                </div>-->
<!--            </mat-form-field>-->

<!--            <app-errors _ngcontent-serverapp-c145="" _nghost-serverapp-c100="">-->

<!--            </app-errors>-->
<!--        </div>-->
<!--        <div _ngcontent-serverapp-c145="" class="formRow">-->
<!--            <mat-form-field _ngcontent-serverapp-c145="" floatlabel="never"-->
<!--                class="mat-form-field ng-tns-c98-45 mat-primary mat-form-field-type-mat-input mat-form-field-appearance-legacy mat-form-field-has-label mat-form-field-hide-placeholder ng-untouched ng-pristine ng-invalid ng-star-inserted">-->
<!--                <div class="mat-form-field-wrapper ng-tns-c98-45">-->
<!--                    <div class="mat-form-field-flex ng-tns-c98-45">-->


<!--                        <div class="mat-form-field-infix ng-tns-c98-45">-->
<!--                            <input _ngcontent-serverapp-c145="" aria-label="Password" matinput="" autocomplete="off"-->
<!--                                formcontrolname="password" minlength="6" maxlength="50" required=""-->
<!--                                class="mat-input-element mat-form-field-autofill-control ng-tns-c98-45 ng-untouched ng-pristine ng-invalid cdk-text-field-autofill-monitored"-->
<!--                                type="password" id="mat-input-23" data-placeholder="Mật khẩu" aria-invalid="false"-->
<!--                                aria-required="true" />-->
<!--                            <span class="mat-form-field-label-wrapper ng-tns-c98-45">-->
<!--                                <label-->
<!--                                    class="mat-form-field-label ng-tns-c98-45 mat-empty mat-form-field-empty ng-star-inserted"-->
<!--                                    id="mat-form-field-label-53" for="mat-input-23" aria-owns="mat-input-23">-->
<!--                                    <span class="ng-tns-c98-45 ng-star-inserted">Mật khẩu</span>-->



<!--                                    <span aria-hidden="true"-->
<!--                                        class="mat-placeholder-required mat-form-field-required-marker ng-tns-c98-45 ng-star-inserted">-->
<!--                                        *</span>-->

<!--                                </label>-->

<!--                            </span>-->
<!--                        </div>-->
<!--                        <div class="mat-form-field-suffix ng-tns-c98-45 ng-star-inserted">-->
<!--                            <span _ngcontent-serverapp-c145="" matsuffix=""-->
<!--                                style="cursor: pointer; color: rgba(0, 0, 0, 0.57);" class="ng-tns-c98-45">-->
<!--                                <i _ngcontent-serverapp-c145="" class="fa fa-eye-slash"></i>-->
<!--                            </span>-->
<!--                        </div>-->

<!--                    </div>-->
<!--                    <div class="mat-form-field-underline ng-tns-c98-45 ng-star-inserted"><span-->
<!--                            class="mat-form-field-ripple ng-tns-c98-45"></span></div>-->

<!--                    <div class="mat-form-field-subscript-wrapper ng-tns-c98-45">-->

<!--                        <div class="mat-form-field-hint-wrapper ng-tns-c98-45 ng-trigger ng-trigger-transitionMessages ng-star-inserted"-->
<!--                            style="opacity: 1; transform: translateY(0%);">-->

<!--                            <div class="mat-form-field-hint-spacer ng-tns-c98-45"></div>-->
<!--                        </div>-->

<!--                    </div>-->
<!--                </div>-->
<!--            </mat-form-field>-->
<!--            <app-errors _ngcontent-serverapp-c145="" _nghost-serverapp-c100="">-->

<!--            </app-errors>-->
<!--        </div>-->
<!--        <div _ngcontent-serverapp-c145="" class="formRow">-->
<!--            <mat-form-field _ngcontent-serverapp-c145="" floatlabel="never"-->
<!--                class="mat-form-field ng-tns-c98-46 mat-primary mat-form-field-type-mat-input mat-form-field-appearance-legacy mat-form-field-has-label mat-form-field-hide-placeholder ng-untouched ng-pristine ng-invalid ng-star-inserted">-->
<!--                <div class="mat-form-field-wrapper ng-tns-c98-46">-->
<!--                    <div class="mat-form-field-flex ng-tns-c98-46">-->


<!--                        <div class="mat-form-field-infix ng-tns-c98-46">-->
<!--                            <input _ngcontent-serverapp-c145="" aria-label="Confirm Password" matinput=""-->
<!--                                autocomplete="off" formcontrolname="confpassword" minlength="6" maxlength="50"-->
<!--                                required=""-->
<!--                                class="mat-input-element mat-form-field-autofill-control ng-tns-c98-46 ng-untouched ng-pristine ng-invalid cdk-text-field-autofill-monitored"-->
<!--                                type="password" id="mat-input-24" data-placeholder="Xác nhận mật khẩu"-->
<!--                                aria-invalid="false" aria-required="true" />-->
<!--                            <span class="mat-form-field-label-wrapper ng-tns-c98-46">-->
<!--                                <label-->
<!--                                    class="mat-form-field-label ng-tns-c98-46 mat-empty mat-form-field-empty ng-star-inserted"-->
<!--                                    id="mat-form-field-label-55" for="mat-input-24" aria-owns="mat-input-24">-->
<!--                                    <span class="ng-tns-c98-46 ng-star-inserted">Xác nhận mật-->
<!--                                        khẩu</span>-->



<!--                                    <span aria-hidden="true"-->
<!--                                        class="mat-placeholder-required mat-form-field-required-marker ng-tns-c98-46 ng-star-inserted">-->
<!--                                        *</span>-->

<!--                                </label>-->

<!--                            </span>-->
<!--                        </div>-->
<!--                        <div class="mat-form-field-suffix ng-tns-c98-46 ng-star-inserted">-->
<!--                            <span _ngcontent-serverapp-c145="" matsuffix=""-->
<!--                                style="cursor: pointer; color: rgba(0, 0, 0, 0.57);" class="ng-tns-c98-46">-->
<!--                                <i _ngcontent-serverapp-c145="" class="fa fa-eye-slash"></i>-->
<!--                            </span>-->
<!--                        </div>-->

<!--                    </div>-->
<!--                    <div class="mat-form-field-underline ng-tns-c98-46 ng-star-inserted"><span-->
<!--                            class="mat-form-field-ripple ng-tns-c98-46"></span></div>-->

<!--                    <div class="mat-form-field-subscript-wrapper ng-tns-c98-46">-->

<!--                        <div class="mat-form-field-hint-wrapper ng-tns-c98-46 ng-trigger ng-trigger-transitionMessages ng-star-inserted"-->
<!--                            style="opacity: 1; transform: translateY(0%);">-->

<!--                            <div class="mat-form-field-hint-spacer ng-tns-c98-46"></div>-->
<!--                        </div>-->

<!--                    </div>-->
<!--                </div>-->
<!--            </mat-form-field>-->
<!--            <app-errors _ngcontent-serverapp-c145="" _nghost-serverapp-c100="">-->

<!--            </app-errors>-->

<!--        </div>-->
<!--        <div _ngcontent-serverapp-c145="" class="formRow ng-star-inserted">-->
<!--            <mat-form-field _ngcontent-serverapp-c145="" floatlabel="never"-->
<!--                class="mat-form-field ng-tns-c98-47 mat-primary mat-form-field-type-mat-select mat-form-field-appearance-legacy mat-form-field-has-label mat-form-field-hide-placeholder ng-untouched ng-pristine ng-valid ng-star-inserted">-->
<!--                <div class="mat-form-field-wrapper ng-tns-c98-47">-->
<!--                    <div class="mat-form-field-flex ng-tns-c98-47">-->


<!--                        <div class="mat-form-field-infix ng-tns-c98-47">-->
<!--                            <mat-select _ngcontent-serverapp-c145="" role="combobox" aria-autocomplete="none"-->
<!--                                aria-haspopup="true" formcontrolname="country" fullscreenoverlay=""-->
<!--                                class="mat-select ng-tns-c126-48 ng-tns-c98-47 ng-untouched ng-pristine ng-valid ng-star-inserted"-->
<!--                                aria-labelledby="mat-form-field-label-57 mat-select-value-7" id="mat-select-6"-->
<!--                                tabindex="0" aria-expanded="false" aria-required="false" aria-disabled="false"-->
<!--                                aria-invalid="false">-->
<!--                                <div cdk-overlay-origin="" class="mat-select-trigger ng-tns-c126-48">-->
<!--                                    <div class="mat-select-value ng-tns-c126-48" id="mat-select-value-7">-->

<!--                                        <span class="mat-select-value-text ng-tns-c126-48 ng-star-inserted">-->

<!--                                            <mat-select-trigger _ngcontent-serverapp-c145=""-->
<!--                                                class="ng-tns-c126-48 ng-star-inserted">-->
<!--                                                <span _ngcontent-serverapp-c145="" class="CountryIcon">-->
<!--                                                    <img _ngcontent-serverapp-c145="" src="./assets/style-home/th.webp"-->
<!--                                                        alt="Thailand" />-->
<!--                                                </span>-->
<!--                                                <em _ngcontent-serverapp-c145="" class="Name_Country">-->
<!--                                                    Thailand - ประเทศไทย-->


<!--                                                </em>-->
<!--                                            </mat-select-trigger>-->

<!--                                        </span>-->

<!--                                    </div>-->
<!--                                    <div class="mat-select-arrow-wrapper ng-tns-c126-48">-->
<!--                                        <div class="mat-select-arrow ng-tns-c126-48"></div>-->
<!--                                    </div>-->
<!--                                </div>-->

<!--                            </mat-select>-->
<!--                            <span class="mat-form-field-label-wrapper ng-tns-c98-47">-->
<!--                                <label class="mat-form-field-label ng-tns-c98-47 ng-star-inserted"-->
<!--                                    id="mat-form-field-label-57" for="mat-select-6" aria-owns="mat-select-6">-->

<!--                                    <mat-label _ngcontent-serverapp-c145="" class="ng-tns-c98-47 ng-star-inserted">-->
<!--                                        Chọn quốc gia</mat-label>-->


<!--                                </label>-->

<!--                            </span>-->
<!--                        </div>-->

<!--                    </div>-->
<!--                    <div class="mat-form-field-underline ng-tns-c98-47 ng-star-inserted"><span-->
<!--                            class="mat-form-field-ripple ng-tns-c98-47"></span></div>-->

<!--                    <div class="mat-form-field-subscript-wrapper ng-tns-c98-47">-->

<!--                        <div class="mat-form-field-hint-wrapper ng-tns-c98-47 ng-trigger ng-trigger-transitionMessages ng-star-inserted"-->
<!--                            style="opacity: 1; transform: translateY(0%);">-->

<!--                            <div class="mat-form-field-hint-spacer ng-tns-c98-47"></div>-->
<!--                        </div>-->

<!--                    </div>-->
<!--                </div>-->
<!--            </mat-form-field>-->
<!--            <app-errors _ngcontent-serverapp-c145="" _nghost-serverapp-c100="">-->

<!--            </app-errors>-->
<!--        </div>-->

<!--        <div _ngcontent-serverapp-c145="" class="terms">-->
<!--            By clicking Sign Up, you agree to the-->
<!--            <span _ngcontent-serverapp-c145="">-->
<!--                <a _ngcontent-serverapp-c145="" target="_blank"-->
<!--                    href="https://www.chilindo.com/th-vi/info/user-agreement">Terms &amp;-->
<!--                    Conditions</a> and-->
<!--                <a _ngcontent-serverapp-c145="" target="_blank"-->
<!--                    href="https://www.chilindo.com/th-vi/info/privacy-policy">Privacy Policy</a>-->
<!--            </span>-->
<!--        </div>-->
<!--        <div _ngcontent-serverapp-c145="" class="SubmitBtn">-->
<!--            <button _ngcontent-serverapp-c145="" aria-label="Register Now" type="submit" mat-flat-button="" color="warn"-->
<!--                class="mat-focus-indicator register mat-flat-button mat-button-base mat-warn">-->
<!--                <span class="mat-button-wrapper"><i _ngcontent-serverapp-c145="" class="fas fa-gavel fa-flip-horizontal"-->
<!--                        style="margin-right: 5px;"></i>-->
<!--                    Bắt đầu đấu giá-->
<!--                </span>-->
<!--                <span matripple="" class="mat-ripple mat-button-ripple"></span><span-->
<!--                    class="mat-button-focus-overlay"></span>-->
<!--            </button>-->
<!--        </div>-->
<!--    </form>-->
<!--</div>-->
