<section _ngcontent-serverapp-c105="" class="bbs vi">
    <div _ngcontent-serverapp-c105="" class="item">
        <div _ngcontent-serverapp-c105="" class="img bid">
            <h3 _ngcontent-serverapp-c105="" class="green">đấu giá</h3>
        </div>
        <p _ngcontent-serverapp-c105="">With thousands of auctions to choose from, bid on whatever you like!
            All auctions start at 1 THB!</p>
    </div>
    <div _ngcontent-serverapp-c105="" class="indicator first"></div>
    <div _ngcontent-serverapp-c105="" class="item mid">
        <div _ngcontent-serverapp-c105="" class="img buy">
            <h3 _ngcontent-serverapp-c105="" class="yellow">Buy</h3>
        </div>
        <p _ngcontent-serverapp-c105="">Win lots of auctions to build your cart! Once done, checkout with
            all
            your favourite items!</p>
    </div>
    <div _ngcontent-serverapp-c105="" class="indicator last"></div>
    <div _ngcontent-serverapp-c105="" class="item">
        <div _ngcontent-serverapp-c105="" class="img smile">
            <h3 _ngcontent-serverapp-c105="" class="orange">Smile</h3>
        </div>
        <p _ngcontent-serverapp-c105="">Now all you have to do Is wait! Our prompt delivery will make you
            smile for sure!</p>
    </div>
</section>