@media screen and (max-width: 767px) {
  .product-layout-container {
    height: calc(100% - 56px)
  }
}

.product-content {
  box-sizing: border-box
}

@media screen and (max-width: 767px) {
  .product-content {
    overflow-y: auto;
    overflow-x: hidden;
    padding: 10px
  }
}

.row {
  margin-bottom: 20px
}

@media (max-width: 767px) {
  .row {
    margin-bottom: 0
  }
}

.row .gallery {
  display: inline-block;
  vertical-align: top;
  width: 453px;
  margin: 0 auto;
  box-sizing: border-box
}

@media (max-width: 900px) {
  .row .gallery {
    width: 363px
  }
}

@media (max-width: 580px) {
  .row .gallery {
    padding-right: 0;
    width: 100%;
    position: relative
  }
}

.row .productRoute {
  display: inline-block;
  vertical-align: top;
  width: calc(100% - 455px);
  padding: 0 60px;
  box-sizing: border-box
}

@media (max-width: 1280px) {
  .row .productRoute {
    padding: 0 20px;
    width: calc(100% - 512px)
  }
}

@media (max-width: 900px) {
  .row .productRoute {
    width: calc(100% - 431px)
  }
}

@media (max-width: 820px) {
  .row .productRoute {
    width: calc(100% - 363px)
  }
}

@media (max-width: 780px) {
  .row .productRoute {
    width: calc(100% - 368px)
  }
}

@media (max-width: 767px) {
  .row .productRoute {
    display: block;
    padding: 0;
    width: 100%
  }
}

.row .productRoute .productInfo {
  display: flex;
  justify-content: center;
  flex-flow: column nowrap;
  align-items: stretch;
  min-height: 456px;
  box-sizing: border-box;
  transition: all .25s ease-in-out
}

.row .productRoute .productInfo h1 {
  color: #027ca5;
  font-family: Nunito, sans-serif;
  font-weight: 800;
  font-size: 30px;
  margin: 0 0 24px;
  padding: 11px 0 0;
  line-height: 30px;
  transition: all .5s ease-in-out;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  cursor: default
}

.row .productRoute .productInfo h1.has-lables {
  margin-bottom: 0
}

@media (max-width: 780px) and (min-width: 600px) {
  .row .productRoute .productInfo .options {
    width: 81%
  }
}

@media (max-width: 767px) {
  .row .productRoute .productInfo {
    display: block;
    min-height: auto;
    padding: 10px
  }
}

@media (max-width: 330px) {
  .row .productRoute .productInfo {
    padding: 10px 0
  }
}

.promisBar {
  position: absolute;
  width: 80px;
  text-align: center;
  right: 10px;
  top: 46px
}

@media (max-width: 768px) {
  .promisBar {
    top: 10px;
    display: none
  }
}

.landing {
  color: #005884
}

.landing h1 {
  font-family: Nunito, sans-serif
}

.labels {
  display: inline-block;
  margin: 15px 0 0
}

.labels .label {
  float: left;
  height: 25px;
  border-radius: 6px;
  min-width: 51px;
  font-size: 13px;
  padding: 0 10px;
  font-weight: 500;
  line-height: 25px;
  color: #000;
  text-align: center
}

.labels .label + .label {
  margin-left: 15px
}

.labels .yellow {
  background-color: #fce733
}

.labels .red {
  color: #fff;
  background-color: #e1202d
}

@media screen and (min-width: 768px) {
  .labels {
    margin: 5px 0 24px
  }
}

.product-subject {
  position: relative;
  height: 40px;
  width: 100%;
  display: block
}

.loading-labels {
  height: 30px;
  margin-top: 24px;
  display: inline;
  position: relative;
  width: 100%
}

.loading-labels .loading-label {
  position: relative;
  margin-right: 15px;
  width: 71px;
  height: 24px;
  display: inline-block
}
