<div class="Container product-layout-container ng-star-inserted">
  <div class="product-content" style="height: 100%;">
    <div class="row">
      <div class="gallery">
        <!---->
        <!---->
        <app-product-gallery></app-product-gallery>
        <!---->
        <app-product-promis  class="promisBar ng-star-inserted"></app-product-promis>
        <!---->
      </div>
      <div class="productRoute">
        <div class="productInfo">
          <h1 class="ng-star-inserted has-lables"> {{bid?.product?.name}} </h1>
          <!---->
          <!---->
          <div class="labels ng-star-inserted">
            <div class="label yellow ng-star-inserted"> Nespresso / Dolce Gusto</div>
            <!---->
            <!---->
          </div>
          <!---->
          <!---->
          <!---->
          <!---->
          <!---->
          <!---->
          <!---->
          <button backbutton="" class="backBtn">
            <img src="./assets/style-detail/back-arrow.svg" alt="Back arrow">
          </button>
<!--          <div class="NewBidInfo ng-star-inserted"> Giá mới trong phiên đấu giá! Giá thầu tối thiểu tiếp theo: vnđ 151 </div>-->
          <!---->
          <!---->
          <!---->
          <div class="productInfo ng-star-inserted">
            <!---->
            <!---->
            <!---->
            <div class="bidData ng-star-inserted">
              <div class="TimeTickerProduct losing">
                <small class="sub-header ng-star-inserted">Losing In</small>
                <!---->
                <!---->
                <!---->
                <!---->
                <!---->
                <div class="ng-star-inserted">
                  <app-count-down textid="6446">
                    <div class="ng-star-inserted">
                      <span>00</span>
                      <b>:</b>
                      <span>00</span>
                      <b>:</b>
                      <span>30</span>
                    </div>
                    <!---->
                    <!---->
                    <!---->
                    <!---->
                  </app-count-down>
                </div>
                <!---->
                <!---->
              </div>
              <div class="BidPrice">
                <small class="sub-header">Giá thầu hiện tại:</small>
                <span>
                  <strong>{{bid?.product?.price}}</strong>
                </span>
              </div>
              <div class="BidWinner">
                <small class="sub-header">Người thắng:</small>
                <span class="ng-star-inserted">dungnguyen.198833</span>
                <!---->
                <!---->
              </div>
            </div>
            <!---->
            <!---->
            <mat-divider role="separator" class="mat-divider mat-divider-horizontal ng-star-inserted" aria-orientation="horizontal"></mat-divider>
            <!---->
            <div class="box ng-star-inserted">
              <small class="sub-header ng-star-inserted"> Lựa chọn: (1 Có sẵn)
                <!---->
                <!---->
              </small>
              <!---->
              <div class="options ng-star-inserted">
                <div class="selectOption fullWidth">
                  <div class="mask ng-star-inserted"></div>
                  <!---->
                  <!---->
                  <span></span>
                  <!---->
                  <div class="StockStatus InStock ng-star-inserted">1 Còn lại
                    <!---->
                    <!---->
                    <!---->
                  </div>
                  <!---->
                </div>
                <!---->
                <!---->
              </div>
              <!---->
              <!---->
              <!---->
              <!---->
              <!---->
            </div>
            <!---->
            <div class="box price ng-star-inserted">
              <small class="sub-header ng-star-inserted">Đấu giá ngay:</small>
              <!---->
              <div class="priceBox ng-star-inserted">
                <div class="selectPrice ng-star-inserted">
                  <button aria-label="Decrease Bis" mat-stroked-button="" class="mat-focus-indicator BtnMinus mat-stroked-button mat-button-base">
                    <span class="mat-button-wrapper"> - </span>
                    <span matripple="" class="mat-ripple mat-button-ripple"></span>
                    <span class="mat-button-focus-overlay"></span>
                  </button>
                  <div class="price">
                    <input aria-label="Selected Price" type="number" [(ngModel)]="price" class="mat-select ng-tns-c126-21 ng-untouched ng-pristine ng-valid ng-star-inserted">
                  </div>
                  <input aria-label="Selected Price" type="hidden" value="151" class="ng-untouched ng-pristine ng-valid">
                  <button aria-label="Increase Bid" mat-stroked-button="" class="mat-focus-indicator BtnPlus mat-stroked-button mat-button-base">
                    <span class="mat-button-wrapper"> + </span>
                    <span matripple="" class="mat-ripple mat-button-ripple"></span>
                    <span class="mat-button-focus-overlay"></span>
                  </button>
                </div>
                <!---->
                <div class="ServiceCharge ng-star-inserted"> 10% phí dịch vụ</div>
                <!---->
              </div>
              <!---->
              <!---->
              <!---->
              <!---->
              <!---->
              <div class="placeBidBtn ng-star-inserted">
                <button (click)="auction()" aria-label="Place my Bid" mat-flat-button="" color="primary" class="mat-focus-indicator mat-flat-button mat-button-base mat-primary">
                  <span class="mat-button-wrapper">
                    <i class="fas fa-gavel fa-flip-horizontal"></i> Đặt giá thầu </span>
                  <span matripple="" class="mat-ripple mat-button-ripple"></span>
                  <span class="mat-button-focus-overlay"></span>
                </button>
                <!---->
              </div>
              <!---->
              <!---->
            </div>
            <!---->
            <!---->
            <!---->
            <!---->
            <!---->
          </div>
          <!---->
          <!---->
          <!---->
          <!---->
          <!---->
          <!---->
          <!---->
        </div>
      </div>
    </div>
    <app-bidding-history [bidDes]="bidDes" class="fullSize"></app-bidding-history>
    <!---->
    <app-product-details [detail]="bid"></app-product-details>
    <!---->
  </div>
  <!---->
  <!---->
</div>
<!---->
