<div class="Container">
  <div class="newHead">
    <button mat-icon-button="" color="primary" backbutton=""
            class="mat-focus-indicator mat-icon-button mat-button-base mat-primary"><span class="mat-button-wrapper"><i
      class="far fa-arrow-left"></i></span><span matripple=""
                                                 class="mat-ripple mat-button-ripple mat-button-ripple-round"></span><span
      class="mat-button-focus-overlay"></span></button>
    <strong class="noWid">Đấu giá của tôi</strong><span
    class="spacer"></span></div>
  <div class="pageContent">
    <h3 class="ng-star-inserted"> Ended Auctions <span
      class="spacer"></span>
      <div class="sortOptions">


        <mat-select [(value)]="selectedSort">
          <mat-option value="volvo">Latest First</mat-option>
          <mat-option value="saab">Won Auctions First</mat-option>
          <mat-option value="mercedes">Lost Auctions First</mat-option>
        </mat-select>
        <!--        <mat-select role="combobox" aria-autocomplete="none" aria-haspopup="true"-->
        <!--                    fullscreenoverlay=""-->
        <!--                    class="mat-select ng-tns-c126-98 ng-untouched ng-pristine ng-valid ng-star-inserted"-->
        <!--                    aria-labelledby="mat-select-value-27" id="mat-select-26" tabindex="0" aria-expanded="false"-->
        <!--                    aria-required="false" aria-disabled="false" aria-invalid="false">-->
        <!--          <div cdk-overlay-origin="" class="mat-select-trigger ng-tns-c126-98">-->
        <!--            <div class="mat-select-value ng-tns-c126-98" id="mat-select-value-27"><span-->
        <!--              class="mat-select-value-text ng-tns-c126-98 ng-star-inserted"><span-->
        <!--              class="mat-select-min-line ng-tns-c126-98 ng-star-inserted">Latest First</span></span>-->
        <!--            </div>-->
        <!--            <div class="mat-select-arrow-wrapper ng-tns-c126-98">-->
        <!--              <div class="mat-select-arrow ng-tns-c126-98"></div>-->
        <!--            </div>-->
        <!--          </div>-->
        <!--        </mat-select>-->
      </div>
    </h3>
    <div class="auctionList ng-star-inserted"><a class="img"
                                                 href="/product/60-795"><img
      alt="Portable Waist Bag"
      src="https://cdn.chilindo.com//XML/Gfx/60-795/60-795_Presell1_110.jpg"></a><a
      class="name"
      href="/product/60-795?aucid=1325027606">Portable
      Waist Bag</a><span class="spacer"></span>
      <div class="status"><span class="won"> Won </span></div>
      <span class="spacer"></span>
      <div class="price">vnđ 28</div>
      <span class="spacer"></span>
      <div class="date"> 25/11/2021</div>
      <span class="spacer"></span><a mat-stroked-button=""
                                     color="primary"
                                     class="mat-focus-indicator myStroke mat-stroked-button mat-button-base mat-primary ng-star-inserted"
                                     tabindex="0" aria-disabled="false" href="/cart"><span
        class="mat-button-wrapper"> See in Cart </span><span matripple=""
                                                             class="mat-ripple mat-button-ripple"></span><span
        class="mat-button-focus-overlay"></span></a><span
        class="spacer"></span><a
        mat-icon-button="" aria-label="View Auction"
        class="mat-focus-indicator mat-icon-button mat-button-base" tabindex="0" aria-disabled="false"
        href="/product/60-795?aucid=1325027606"><span class="mat-button-wrapper"><img
        src="/assets/svgIcon/right-arrow.svg"
        alt="Right arrow"></span><span
        matripple="" class="mat-ripple mat-button-ripple mat-button-ripple-round"></span><span
        class="mat-button-focus-overlay"></span></a></div>
    <div class="auctionList ng-star-inserted"><a class="img"
                                                 href="/product/08-474"><img
      alt="GESTREO Steam Iron "
      src="https://cdn.chilindo.com//XML/Gfx/08-474/08-474-01_110.jpg"></a><a class="name"
                                                                              href="/product/08-474?aucid=1324937597">GESTREO
      Steam Iron </a><span class="spacer"></span>
      <div class="status"><span class="lost"> Thất lạc </span>
      </div>
      <span class="spacer"></span>
      <div class="price">vnđ 176</div>
      <span class="spacer"></span>
      <div class="date"> 24/11/2021</div>
      <span class="spacer"></span><a
        mat-stroked-button=""
        color="primary"
        class="mat-focus-indicator myStroke mat-stroked-button mat-button-base mat-primary ng-star-inserted"
        tabindex="0"
        aria-disabled="false"
        href="/product/08-474"><span
        class="mat-button-wrapper"> Đấu giá lại </span><span matripple=""
                                                             class="mat-ripple mat-button-ripple"></span><span
        class="mat-button-focus-overlay"></span></a>

      <span class="spacer"></span><a
        mat-icon-button="" aria-label="View Auction"
        class="mat-focus-indicator mat-icon-button mat-button-base" tabindex="0" aria-disabled="false"
        href="/product/08-474?aucid=1324937597"><span class="mat-button-wrapper"><img
        src="/assets/svgIcon/right-arrow.svg"
        alt="Right arrow"></span><span
        matripple="" class="mat-ripple mat-button-ripple mat-button-ripple-round"></span><span
        class="mat-button-focus-overlay"></span></a></div>


  </div>
</div>
