h3 {
  font-weight: 700;
  font-size: 20px;
  line-height: 20px;
  font-family: Nunito, sans-serif;
  letter-spacing: 0;
  color: #000;
  margin: 24px 0;
  padding: 0;
  overflow: hidden;
  display: flex;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
  box-sizing: border-box;
  width: 100%
}

@media screen and (max-width: 767px) {
  h3 {
    font-size: 18px;
    padding-top: 10px;
    margin: 12px 0
  }
}

h3.first {
  margin-top: 0
}

h3 .sortOptions {
  width: 170px;
  font-weight: 400;
  font-size: 14px;
  text-align: right;
  background: #0000 url(/assets/svgIcon/sort.svg) right 50% no-repeat
}

.bidtypeSelection {
  display: block;
  font-size: 14px
}

.bidtypeSelection .mat-radio-button {
  display: block;
  padding: 10px
}

.auctionList {
  display: flex;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
  box-sizing: border-box;
  width: 100%;
  padding: 12px 0;
  border-bottom: 1px solid #c7c7c7
}

@media screen and (max-width: 767px) {
  .auctionList {
    flex-direction: column
  }
  .auctionList .full {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
    box-sizing: border-box
  }
  .auctionList .full + .full {
    margin-top: 12px
  }
  .auctionList .full.buttons a {
    flex-basis: 100%;
    width: 100%;
    text-transform: uppercase
  }
  .auctionList .full.buttons a + a {
    margin-left: 10px
  }
  .auctionList .full.buttons button {
    flex-basis: 100%;
    width: 100%;
    text-transform: uppercase
  }
  .auctionList .full.buttons a + button, .auctionList .full.buttons button + a, .auctionList .full.buttons button + button {
    margin-left: 10px
  }
  .auctionList .full .status {
    text-align: left
  }
  .auctionList .full .price {
    text-align: right
  }
  .auctionList .full .name {
    width: calc(100% - 70px);
    font-size: 14px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block
  }
  .auctionList .full .date {
    font-size: 11px;
    color: #c7c7c7
  }
  .auctionList .full .date, .auctionList .full .timer {
    text-align: right;
    width: 65px
  }
}

.auctionList .auctionData {
  width: calc(100% - 50px)
}

.auctionList .img {
  width: 38px;
  height: 51px;
  margin-right: 12px;
  overflow: hidden;
  display: flex;
  align-items: center;
  border-radius: 6px
}

.auctionList .img img {
  width: 100%
}

.auctionList .name {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #000;
  font-size: 15px;
  width: 230px
}

.auctionList .price {
  color: #000;
  font-size: 15px;
  font-weight: 700
}

.auctionList .price, .auctionList .status {
  width: 110px;
  text-align: center
}

.auctionList .status span {
  display: inline-block;
  line-height: 22px;
  font-size: 12px;
  font-weight: 700;
  border-radius: 6px;
  text-transform: uppercase;
  text-align: center;
  padding: 0 6px
}

.auctionList .status span.won {
  color: #479518;
  border: 1px solid #479518
}

.auctionList .status span.lost {
  color: #cc0813;
  border: 1px solid #cc0813
}

.auctionList .status span.running {
  color: #ea9918;
  border: 1px solid #ea9918
}

.auctionList .status span.losing {
  color: #fff;
  background: #a30000;
  background: linear-gradient(135deg, #a30000 35%, #c00)
}

.auctionList .status span.winning {
  color: #fff;
  background: #2e7b17;
  background: linear-gradient(135deg, #2e7b17 35%, #26a300)
}

.auctionList .status span.other {
  color: #fff;
  background: #f53b0b;
  background: linear-gradient(135deg, #f53b0b 35%, #ff8000)
}

.auctionList .date {
  color: #848484;
  font-size: 15px;
  width: 110px;
  text-align: center
}

.auctionList .timer {
  width: 110px;
  text-align: center;
  font-size: 16px;
  line-height: 16px;
  font-weight: 500
}

.auctionList .timer.green {
  color: #2e7b17
}

.auctionList .timer.red {
  color: #a30000
}

.auctionList .noStroke {
  width: 170px;
  padding: 0;
  text-align: center
}

.auctionList .noStroke button {
  width: 100%
}

.auctionList .myStroke {
  border-color: #18b7ea;
  border-width: 2px;
  width: 170px;
  font-size: 14px;
  padding: 0
}

.mat-select-value-text {
  margin-right: 10px
}

.mat-select-arrow-wrapper {
  visibility: hidden
}

@media screen and (max-width: 767px) {
  .smallGoToProList {
    width: 100%;
    margin-bottom: 10px
  }
  .smallGoToProList img {
    float: right;
    margin-top: 10px
  }
}
