<div class="ng-tns-c163-1 CompaignHolder ng-star-inserted">
  <!---->
  <div class="CampaignsContainer ng-tns-c163-1 ng-trigger ng-trigger-slideInOut ng-star-inserted">
    <div class="slider-pro ng-tns-c163-1 sp-horizontal" id="CampaignsSlider" style="width: 100%; max-width: 100%;">
      <div class="sp-slides-container">
        <div class="sp-mask sp-grab" style="width: 1055px; height: 100%;">
          <div class="sp-slides ng-tns-c163-1">
            <!---->
            <!---->
            <div class="sp-slide ng-tns-c163-1 ng-star-inserted sp-selected"
                 data-index="0" data-init="true" data-loaded="true" style="width: 1055px; height: 100%; left: 0px;">
              <div class="camp_img ng-tns-c163-1">
                <img alt="Campaign Banner" class="ng-tns-c163-1"
                     data-default="https://cdn.chilindo.com//XML/Gfx/Campaigns/CampaignImage/27062019_Delivery_Banner_TH_960x236EN637411191658303806.jpg"
                     src="https://cdn.chilindo.com//XML/Gfx/Campaigns/CampaignImage/27062019_Delivery_Banner_TH_960x236EN637411191658303806.jpg">
              </div>
              <a aria-label="details" class="ClickEvent ng-tns-c163-1 ng-star-inserted"></a>
              <!---->
            </div>
          </div>
        </div>
        <div class="sp-arrows sp-fade-arrows">
          <div class="sp-arrow sp-previous-arrow" style="display: none;"></div>
          <div class="sp-arrow sp-next-arrow" style="display: none;"></div>
        </div>
      </div>
    </div>
  </div>
  <!---->
</div>
<!---->
