.productInfo .sub-header {
  font-size: 11px;
  line-height: 11px;
  text-transform: uppercase;
  color: #a5a5a6;
  letter-spacing: .5px;
  display: block;
  margin-bottom: 10px;
  font-family: Open Sans
}

.productInfo .bidData {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0 0 12px
}

.productInfo .bidData .TimeTickerProduct {
  width: 100%;
  order: 1;
  margin-bottom: 24px
}

.productInfo .bidData .TimeTickerProduct small {
  display: none
}

.productInfo .bidData .TimeTickerProduct div {
  color: #c35;
  font-weight: 500;
  font-size: 25px;
  line-height: 35px;
  height: 38px;
  position: relative;
  z-index: 1
}

.productInfo .bidData .TimeTickerProduct span {
  background: #fbfbfb;
  border-radius: 5px;
  width: 30px;
  text-align: center;
  cursor: default
}

@media screen and (min-width: 767px) {
  .productInfo .bidData .TimeTickerProduct span {
    border: 1px solid #0000001f;
    padding: 0 10px;
    width: 50px;
    font-weight: 400
  }
}

.productInfo .bidData .TimeTickerProduct b, .productInfo .bidData .TimeTickerProduct span {
  color: #c35;
  display: inline-block;
  font-weight: 600;
  vertical-align: top;
  box-sizing: border-box;
  font-family: roboto, sans-serif
}

@media (max-width: 767px) {
  .productInfo .bidData .TimeTickerProduct b, .productInfo .bidData .TimeTickerProduct span {
    font-weight: 400;
    background: #fff
  }
}

@media screen and (min-width: 767px) {
  .productInfo .bidData .TimeTickerProduct b {
    margin: 0 5px
  }
}

.productInfo .bidData .TimeTickerProduct .timerBox {
  background: #ffb846;
  background: linear-gradient(90deg, #ffb846, #ff5d21);
  width: 252px;
  height: 81px;
  border-radius: 5px;
  text-align: center;
  font-weight: 400;
  line-height: unset;
  position: relative;
  padding: 10px;
  box-sizing: border-box
}

.productInfo .bidData .TimeTickerProduct .timerBox h3 {
  color: #fff;
  font-size: 16px;
  line-height: 16px;
  padding: 0 0 10px;
  margin: 0;
  text-shadow: 0 2px 3px #00000054
}

.productInfo .bidData .TimeTickerProduct .timerBox .salePrice span {
  box-shadow: 0 3px 6px #0000004f;
  border: none;
  padding: 0 6px;
  width: auto;
  line-height: 30px
}

.productInfo .bidData .TimeTickerProduct .timerBox .salePrice b {
  color: #fff;
  text-shadow: 0 2px 3px #00000054;
  background-color: initial;
  margin: 0 4px;
  line-height: 30px
}

.productInfo .bidData .TimeTickerProduct .timerBox .tLeftImg, .productInfo .bidData .TimeTickerProduct .timerBox .tRightImg {
  position: absolute;
  bottom: 0;
  max-width: 51px
}

.productInfo .bidData .TimeTickerProduct .timerBox .tLeftImg {
  left: 0
}

.productInfo .bidData .TimeTickerProduct .timerBox .tRightImg {
  right: 0
}

@media screen and (max-width: 767px) {
  .productInfo .bidData .TimeTickerProduct .timerBox {
    width: 200px;
    height: 76px
  }
  .productInfo .bidData .TimeTickerProduct .timerBox h3 {
    font-size: 13px;
    line-height: 13px
  }
}

.productInfo .bidData .BidPrice {
  flex: 0 0 130px;
  order: 2;
  cursor: default
}

.productInfo .bidData .BidPrice span {
  display: block
}

.productInfo .bidData .BidPrice span em, .productInfo .bidData .BidPrice span strong {
  font-size: 21px;
  font-weight: 400;
  line-height: 21px;
  font-style: normal;
  display: inline-block;
  vertical-align: top
}

.productInfo .bidData .BidPrice span em {
  color: #000
}

.productInfo .bidData .BidPrice span strong {
  color: #26a300
}

.productInfo .bidData .BidWinner {
  flex: 0 0 calc(100% - 130px);
  width: calc(100% - 130px);
  order: 3;
  cursor: default
}

.productInfo .bidData .BidWinner span {
  font-size: 16px;
  display: block;
  font-weight: 400;
  line-height: 21px;
  background: url(/assets/svgIcon/trophy.svg) 0 50%/18px no-repeat;
  padding-left: 24px
}

@media screen and (max-width: 1024px) {
  .productInfo .bidData .BidPrice {
    flex: 0 0 100%
  }
  .productInfo .bidData .BidWinner {
    margin-top: 24px;
    flex: 0 0 100%
  }
}

@media screen and (max-width: 780px) and (min-width: 600px) {
  .productInfo .bidData .BidWinner {
    flex: 0 0 60%;
    margin-top: 0
  }
  .productInfo .bidData .BidPrice {
    flex: 0 0 39%
  }
}

@media screen and (max-width: 767px) {
  .productInfo .bidData {
    padding: 0 0 16px
  }
  .productInfo .bidData small {
    font-size: 13px;
    line-height: 13px
  }
  .productInfo .bidData .TimeTickerProduct {
    width: auto;
    order: 2;
    text-align: right;
    margin-bottom: 0
  }
  .productInfo .bidData .TimeTickerProduct small {
    display: block
  }
  .productInfo .bidData .TimeTickerProduct div {
    height: 25px;
    line-height: 25px;
    font-size: 20px
  }
  .productInfo .bidData .TimeTickerProduct.losing .sub-header, .productInfo .bidData .TimeTickerProduct.losing div {
    color: #c00
  }
  .productInfo .bidData .TimeTickerProduct.winning .sub-header, .productInfo .bidData .TimeTickerProduct.winning div {
    color: #26a300
  }
  .productInfo .bidData .BidPrice {
    flex: 1;
    order: 1
  }
  .productInfo .bidData .BidPrice em, .productInfo .bidData .BidPrice strong {
    font-size: 25px;
    line-height: 25px
  }
  .productInfo .bidData .BidWinner {
    display: none
  }
}

.productInfo mat-divider {
  margin: 12px 0 24px
}

.productInfo .options {
  box-sizing: border-box
}

.productInfo .options .selectOption .mask {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 1
}

.productInfo .options .selectOption .editOption {
  height: 38px;
  line-height: 38px;
  border-radius: 17px;
  box-shadow: 0 0 5px #0000001f;
  padding: 0 0 0 16px;
  font-size: 14px;
  white-space: nowrap;
  overflow: hidden
}

.productInfo .options .selectOption .editOption.InStock span:before {
  background-color: #4ba94a
}

.productInfo .options .selectOption .editOption.NotInStock span:before {
  background-color: #ffb100
}

.productInfo .options .selectOption .editOption b {
  color: #afafaf;
  float: left;
  font-weight: 400
}

.productInfo .options .selectOption .editOption span {
  float: left;
  color: #267ca5;
  position: relative;
  padding-left: 16px;
  display: flex;
  align-items: center
}

.productInfo .options .selectOption .editOption span:before {
  position: absolute;
  left: 0;
  content: "";
  height: 8px;
  width: 8px;
  border-radius: 100%;
  top: 15px
}

.productInfo .options .selectOption .editOption span img {
  border-radius: 4px;
  height: 28px;
  margin: 0 10px 0 0
}

.productInfo .options .selectOption .editOption em {
  float: right;
  color: #267ca5;
  font-style: normal;
  margin-right: 16px
}

.productInfo .options .selectOption .editOption strong {
  float: right;
  font-weight: 400;
  width: 35px;
  text-align: center
}

.productInfo .options .selectOption .editOption strong img {
  vertical-align: middle
}

.productInfo .options .selectOption .StockStatus {
  display: block;
  width: 100%;
  font-size: 12px;
  line-height: 1;
  padding: 0;
  box-sizing: border-box
}

.productInfo .options .selectOption .StockStatus.InStock {
  margin: 10px 0 0;
  color: #4ba94a
}

.productInfo .options .selectOption .StockStatus.NotInStock {
  margin: 10px 0 0;
  color: #ffb100
}

@media screen and (max-width: 1024px) {
  .productInfo .options .selectOption {
    width: calc(100% - 117px)
  }
  .productInfo .options .selectOption.fullWidth {
    width: 100%
  }
  .productInfo .options .msgInstruction {
    width: 100%;
    padding-left: 0;
    margin: 10px 0 18px
  }
}

.productInfo .box + .box {
  margin-top: 24px
}

@media screen and (max-width: 767px) {
  .productInfo .box + .box.salePage {
    display: flex
  }
  .productInfo .box + .box.salePage .placeBidBtn {
    text-align: right
  }
  .productInfo .box + .box.salePage .placeBidBtn .add2cart {
    margin: 0
  }
  .productInfo .reorderContent {
    display: flex;
    flex-direction: column
  }
  .productInfo .reorderContent .box:not(.salePage) {
    order: 1;
    margin-top: 18px
  }
  .productInfo .reorderContent .box.salePage {
    order: 3;
    margin-top: 2px
  }
  .productInfo .reorderContent .bidData {
    order: 2;
    margin-top: 18px
  }
  .productInfo .reorderContent .bidData .TimeTickerProduct {
    order: 1
  }
  .productInfo .reorderContent .bidData .BidPrice {
    order: 2;
    flex: none
  }
}

.probtn {
  display: flex;
  align-items: center
}

.likeblock {
  padding: 5px;
  cursor: pointer
}

.login-box {
  padding: 0
}

.login-box .login-button {
  font-weight: 600;
  font-size: 15px;
  height: 48px;
  border-radius: 6px;
  width: 100%
}

@media screen and (min-width: 1024px) {
  .login-box .login-button {
    font-size: 17px;
    line-height: 41px;
    width: auto
  }
}

.login-box .login-button .fas {
  margin-right: 5px
}

.priceBox {
  display: inline-block;
  position: relative;
  vertical-align: top
}

@media screen and (max-width: 767px) {
  .priceBox {
    width: calc(100% - 100px)
  }
}

.priceBox.fullWidth {
  width: 100%
}

.priceBox .selectPrice {
  display: inline-block;
  border-radius: 6px;
  overflow: hidden;
  box-sizing: border-box;
  vertical-align: top;
  width: 100%
}

.priceBox .selectPrice .BtnMinus, .priceBox .selectPrice .BtnPlus {
  border: none;
  background: #419809;
  outline: 0;
  cursor: pointer;
  height: 44px;
  width: 44px;
  max-width: 44px;
  min-width: 44px;
  line-height: 44px;
  border-radius: 0;
  padding: 0;
  margin: 0;
  float: left;
  font-size: 18px;
  text-align: center;
  color: #fff
}

@media screen and (max-width: 767px) {
  .priceBox .selectPrice .BtnMinus, .priceBox .selectPrice .BtnPlus {
    height: 48px;
    width: 48px;
    max-width: 48px;
    min-width: 48px;
    line-height: 48px;
    font-size: 24px
  }
}

.priceBox .selectPrice .decPrice, .priceBox .selectPrice .incPrice {
  border: 1px solid #419809;
  border-radius: 100%;
  outline: 0;
  cursor: pointer;
  height: 25px;
  width: 25px;
  max-width: 25px;
  min-width: 25px;
  padding: 0;
  margin: 7px 0;
  float: left;
  font-size: 18px;
  text-align: center
}

.priceBox .selectPrice .decPrice svg, .priceBox .selectPrice .incPrice svg {
  vertical-align: middle
}

.priceBox .selectPrice .decPrice {
  background-color: #d7eff7;
  color: #419809
}

.priceBox .selectPrice .incPrice {
  background-color: #419809;
  color: #fff
}

.priceBox .selectPrice .price {
  border-color: #dcdcdc #18b7ea;
  border-style: solid;
  border-width: 1px;
  transition: none;
  box-sizing: border-box;
  height: 44px;
  width: 88px;
  float: left;
  line-height: 44px;
  text-align: center
}

.priceBox .selectPrice .price .mat-select .mat-select-trigger {
  width: 100%
}

.priceBox .selectPrice .price .mat-select .mat-select-trigger .mat-select-value {
  max-width: 100%;
  text-align: center;
  line-height: 42px;
  font-size: 20px;
  color: #027ca5;
  font-weight: 600
}

.priceBox .selectPrice .price .mat-select .mat-select-trigger .mat-select-arrow-wrapper {
  display: none
}

.priceBox .selectPrice .quantity {
  border: none;
  transition: none;
  box-sizing: border-box;
  height: 39px;
  width: 70px;
  float: left
}

.priceBox .selectPrice .quantity .mat-select .mat-select-trigger {
  width: 100%
}

.priceBox .selectPrice .quantity .mat-select .mat-select-trigger .mat-select-value {
  max-width: 100%;
  text-align: center;
  line-height: 38px;
  font-size: 15px;
  color: #000;
  font-weight: 600
}

.priceBox .selectPrice .quantity .mat-select .mat-select-trigger .mat-select-arrow-wrapper {
  display: none
}

.priceBox .selectPrice .BidValueTxt {
  width: calc(100% - 96px);
  float: left;
  background: #18b7ea;
  color: #fff;
  font-size: 15px;
  font-weight: 600;
  border: none;
  padding: 0 11px;
  box-sizing: border-box;
  text-align: center;
  height: 48px;
  outline: 0
}

.priceBox .selectPrice .BidValueTxt.BidWinnerMsg {
  background: #26a31a;
  line-height: 48px
}

.priceBox .singleUnit {
  line-height: 38px;
  background-color: #d7eff7;
  border: 1px solid #419809;
  border-radius: 6px;
  text-align: center;
  font-size: 15px;
  color: #000;
  font-weight: 600;
  padding: 0 10px
}

.priceBoxNoAutoBid {
  vertical-align: top;
  width: 55%;
  display: inline-block;
  position: relative
}

.priceBoxNoAutoBid button {
  width: 100%;
  font-size: 17px;
  line-height: 41px
}

.ServiceCharge {
  color: #cacaca;
  margin-top: 5px;
  font-size: 9px;
  text-align: center
}

.likeHideBox {
  display: inline-block;
  position: relative;
  vertical-align: top;
  height: 44px
}

.likeHideBox .likeBox {
  width: 100%;
  font-size: 12px;
  flex-direction: row;
  text-align: center;
  height: 44px
}

.likeHideBox .likeBox, .likeHideBox .likeBox span {
  display: flex;
  align-items: center;
  justify-content: center
}

.likeHideBox .likeBox span {
  height: 23px;
  width: 23px
}

.likeHideBox .likeBox em {
  display: block;
  font-style: normal;
  color: #ff3b3b
}

.likeHideBox .likeBox div {
  margin-left: 15px;
  cursor: pointer;
  display: flex;
  align-items: center;
  flex-direction: column
}

.placeBidBtn {
  display: inline-block;
  position: relative;
  vertical-align: top
}

.placeBidBtn button {
  font-size: 17px;
  padding: 1.5px 18px;
  border-radius: 6px;
  margin-left: 10px;
  line-height: 41px
}

.placeBidBtn button i {
  margin-right: 5px
}

.placeBidBtn button.add2cart {
  margin-left: 38px
}

.placeBidBtn button.add2cart .firstSVG {
  margin-right: 5px
}

.placeBidBtn button.add2cart img:last-child {
  display: none
}

@media screen and (max-width: 374px) {
  .placeBidBtn button.add2cart .firstSVG, .placeBidBtn button.add2cart .firstSVG + span {
    display: none
  }
  .placeBidBtn button.add2cart img:not(.firstSVG) {
    display: inline-block
  }
}

@media screen and (max-width: 1024px) {
  .placeBidBtn {
    width: 100%
  }
  .placeBidBtn button {
    margin-left: 0 !important;
    margin-top: 24px
  }
}

@media screen and (max-width: 780px) and (min-width: 600px) {
  .placeBidBtn {
    width: 44%;
    margin-left: 16px
  }
  .placeBidBtn button {
    margin-top: 0
  }
}

.auction-end-buttons {
  display: flex
}

.auction-end-buttons button.mat-flat-button.mat-button-base {
  height: 46px;
  width: 48%;
  text-overflow: ellipsis;
  overflow: hidden
}

.auction-end-buttons button.mat-flat-button.mat-button-base.outline {
  border: 2px solid #18b7ea;
  color: #18b7ea
}

@media screen and (min-width: 768px) {
  .auction-end-buttons button.mat-flat-button.mat-button-base {
    height: 50px;
    width: 180px
  }
  .auction-end-buttons button.mat-flat-button.mat-button-base.outline {
    margin-right: 20px;
    margin-bottom: 10px
  }
}

.loading-devider {
  margin: 12px 0 24px
}

.loading-auction {
  position: relative
}

.loading-auction .timers-loading {
  position: relative;
  margin-bottom: 24px
}

.loading-auction .timers-loading .timer-loading {
  position: relative;
  width: 50px;
  height: 38px;
  margin-right: 10px;
  display: inline-block;
  border: 1px solid #0000001f;
  border-radius: 5px
}

.loading-auction .timers-loading .timer-loading.animated-Block:after {
  border-radius: 5px
}

.loading-auction .bid-info-loading {
  position: relative
}

.loading-auction .bid-info-loading .win-lose-loading-section {
  display: inline-block;
  position: relative;
  margin-bottom: 15px
}

.loading-auction .bid-info-loading .win-lose-loading-section .win-lose-loading-title {
  display: block;
  position: relative;
  width: 180px;
  margin-bottom: 5px;
  height: 20px;
  margin-right: 40px
}

.loading-auction .bid-info-loading .win-lose-loading-section .win-lose-loading {
  display: block;
  position: relative;
  width: 100%;
  height: 40px;
  margin-right: 40px
}

.multiWinnerInfo {
  background-color: #f03170;
  color: #fff;
  font-size: 13px;
  line-height: 18px;
  font-weight: 700;
  display: flex;
  height: 40px;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9
}

@media screen and (max-width: 480px) {
  .multiWinnerInfo {
    justify-content: start;
    padding: 0 16px
  }
}

.multiWinnerInfo span {
  color: #fff;
  background: #0000 url(/assets/multi-winner/winners-white.svg) 0 50% no-repeat;
  padding-left: 27px
}

.multiWinnerInfo span a {
  color: #fff;
  text-decoration: underline;
  cursor: pointer
}

.multiWinnerInfo .close {
  position: absolute;
  right: 0;
  top: 0
}

.related-option-container {
  display: flex
}

.related-option-container .varText {
  text-overflow: ellipsis;
  overflow: hidden;
  flex-grow: 1
}

.multiAuctionContainer .multiBidBtn {
  width: 100% !important;
  float: left;
  background: #18b7ea;
  color: #fff;
  font-size: 15px;
  font-weight: 600;
  border: none;
  padding: 0 11px;
  box-sizing: border-box;
  text-align: center;
  height: 48px;
  outline: 0;
  border-radius: 6px;
  cursor: pointer
}

.multiAuctionContainer .multiBidBtn.BidWinnerMsg {
  background: #26a31a;
  line-height: 48px;
  cursor: default
}

@media screen and (min-width: 767px) {
  .multiAuctionContainer {
    width: 285px
  }
}

.zeroBid {
  box-sizing: border-box;
  height: 44px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font: normal normal normal 13px/18px Roboto
}

@media screen and (min-width: 768px) {
  .zeroBid {
    text-align: left;
    justify-content: flex-start
  }
}

.multiBidMsg {
  padding: 10px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font: normal normal 900 13px/18px Roboto
}

.multiBidMsg .bidMsg {
  background-repeat: no-repeat;
  background-color: initial;
  background-position: 0 50%;
  padding-left: 20px
}

.multiBidMsg .bidCount {
  font: normal normal 900 14px/18px Roboto;
  display: flex
}

.multiBidMsg .bidCount span {
  font: normal normal 900 18px/24px Roboto
}

.multiBidMsg .bidCount em {
  margin-left: 5px;
  width: 22px;
  height: 22px;
  cursor: pointer;
  background: #0000 url(/assets/svgIcon/list.svg) 50% 50% no-repeat
}

.multiBidMsg.highest .bidMsg {
  color: #26a31a;
  background-image: url(/assets/svgIcon/green-trophy.svg)
}

.multiBidMsg.highest .bidCount span {
  color: #26a31a
}

.multiBidMsg.winning .bidMsg {
  color: #1eb7ea;
  background-image: url(/assets/svgIcon/blue-trophy.svg)
}

.multiBidMsg.winning .bidCount span {
  color: #1eb7ea
}

.multiBidMsg.losing .bidMsg {
  color: #eb2929;
  background-image: url(/assets/svgIcon/red-trophy.svg)
}

.multiBidMsg.losing .bidCount span {
  color: #eb2929
}

.alreadyInCart, .NewBidInfo {
  padding: 7px;
  text-align: center;
  color: #fff;
  top: 0;
  position: absolute;
  z-index: 9999;
  right: 0;
  left: 0;
  transition: all .25s ease-in-out
}

@media screen and (max-width: 767px) {
  .alreadyInCart, .NewBidInfo {
    font-size: 12px
  }
}

.NewBidInfo {
  background-color: #007f00
}

.alreadyInCart {
  background-color: #ff6223
}

.basic-bid-button {
  width: 100%;
  line-height: 48px
}
