/* You can add global styles to this file, and also import other style files */

//@import url("./assets/test.css");
@import url("./assets/style-home/styles.9ef84f13fd4720063f1c.css");



.Desktop {
  display: block;
}

.Mobile {
  display: none;
}

@media screen and (max-width: 767px) {
  .Desktop {
    display: none;
  }

  .Mobile {
    display: block;
  }
}

.desktopClick,
.mobileClick {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9;
}

.or {
  margin-left: -18px;
  margin-right: -18px;
  margin-top: 14px;
}

#mainContainer {
  background-color: initial;
}

.loginBack,
.regBack {
  opacity: 0;
  transition: all 1s ease-in-out;
}

.register .signUpbtn {
  display: none !important;
}

.register .signInBtn {
  display: inline-block !important;
}

.register .regBack {
  background: linear-gradient(180deg, #b1ecff, #eaeef0 50%);
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100vh;
  left: 0;
  top: 0;
  opacity: 1;
  transition: all 1s ease-in-out;
}

.register .loginImage {
  z-index: 1;
  opacity: 0;
}

.register .registerImage {
  z-index: 2;
  opacity: 1;
}

.register .registrationBlock {
  transition: all 0.5s ease-in-out;
  min-height: 187px;
}

.register .loginBlock {
  opacity: 0;
  height: 0;
  transition: all 0.5s ease-in-out;
}

.login .signUpbtn {
  display: inline-block !important;
}

.login .signInBtn {
  display: none !important;
}

.login .loginBack {
  opacity: 1;
  background: linear-gradient(180deg, #fff6b1, #eaeef0 50%);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: -1;
  height: 100vh;
  transition: all 1s ease-in-out;
}

.login .loginImage {
  z-index: 2;
  opacity: 1;
}

.login .registerImage {
  z-index: 1;
  opacity: 0;
}

.login .registrationBlock {
  height: 0;
  opacity: 0;
}

.login .loginBlock,
.login .registrationBlock {
  transition: all 0.5s ease-in-out;
}

.PromoBanner {
  overflow: hidden;
  position: relative;
  margin: 39px 0;
  justify-content: center;
  align-items: center;
  display: flex;
  align-items: stretch;
}

@media (max-width: 767px) {
  .PromoBanner {
    margin: 0;
  }
}

.PromoBanner .promoImage {
  float: left;
  width: calc(100% - 327px);
  padding: 5px;
  position: relative;
  justify-content: center;
  align-items: center;
  display: flex;
  align-items: stretch;
}

@media (max-width: 767px) {
  .PromoBanner .promoImage {
    width: 100%;
    height: 210px;
  }
}

.PromoBanner .promoImage img {
  width: 100%;
  padding-right: 100px;
  float: left;
  box-sizing: border-box;
}

.PromoBanner .promoImage .slogans {
  width: 100%;
}

.PromoBanner .promoImage .slogans h1 {
  font-family: Nunito, sans-serif;
  font-size: 45px;
  line-height: 1.2;
  font-weight: 700;
  max-width: 530px;
  margin: 0;
}

@media screen and (max-width: 900px) {
  .PromoBanner .promoImage .slogans h1 {
    max-width: 90%;
    font-size: 36px;
  }
}

@media screen and (max-width: 820px) {
  .PromoBanner .promoImage .slogans h1 {
    font-size: 32px;
  }
}

@media screen and (max-width: 767px) {
  .PromoBanner .promoImage .slogans h1 {
    font-size: 26px;
  }
}

@media screen and (max-width: 580px) {
  .PromoBanner .promoImage .slogans h1 {
    max-width: 75%;
  }
}

.PromoBanner .promoImage .loginImage,
.PromoBanner .promoImage .registerImage {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  justify-content: center;
  align-items: center;
  display: flex;
  transition: all 0.5s ease-in-out;
  width: 100%;
}

@media (max-width: 767px) {

  .PromoBanner .promoImage .loginImage,
  .PromoBanner .promoImage .registerImage {
    width: 310px;
    left: 50%;
    margin-left: -155px;
  }
}

.PromoBanner .promoImage .loginImage {
  background: url(/assets/svgIcon/orangeLandingHeader.svg) 0 50% no-repeat;
  background-size: 75%;
}

.PromoBanner .promoImage .loginImage .slogans h1 {
  color: #840a00;
}

.PromoBanner .promoImage .loginImage .slogans h3 {
  color: #840a00;
  font-size: 25px;
  line-height: 1.5;
  font-weight: 400;
  max-width: 380px;
}

@media screen and (max-width: 900px) {
  .PromoBanner .promoImage .loginImage .slogans h3 {
    max-width: 305px;
    font-size: 20px;
  }
}

@media screen and (max-width: 1024px) {
  .PromoBanner .promoImage .loginImage {
    background-size: 90%;
  }
}

@media (max-width: 767px) {
  .PromoBanner .promoImage .loginImage {
    background-size: 109%;
  }
}

.PromoBanner .promoImage .registerImage {
  background: url(/assets/svgIcon/blueLandingHeader.svg) 0 50% no-repeat;
  background-size: 75%;
}

@media screen and (max-width: 1024px) {
  .PromoBanner .promoImage .registerImage {
    background-size: 90%;
  }
}

@media (max-width: 767px) {
  .PromoBanner .promoImage .registerImage {
    background-size: 109%;
  }
}

.PromoBanner .promoImage .registerImage .slogans h1 {
  color: #005884;
}

.PromoBanner .promoImage .registerImage .slogans .sloganAnimate {
  margin: 90px 0;
  position: relative;
}

.PromoBanner .promoImage .registerImage .slogans .sloganAnimate h2 {
  color: #005884;
  font-size: 22px;
  line-height: 22.5px;
  font-family: ArialRoundedMTBold, Arial Rounded MT;
  font-weight: 800;
  display: inline-block;
  vertical-align: top;
  margin: 0;
}

@media (max-width: 767px) {
  .PromoBanner .promoImage .registerImage .slogans .sloganAnimate h2 {
    font-size: 14px;
    line-height: 16px;
  }
}

.PromoBanner .promoImage .registerImage .slogans .sloganAnimate ul {
  padding: 0;
  height: 22px;
  margin: 0 0 0 10px;
  display: inline-block;
  vertical-align: top;
  overflow: hidden;
  list-style-type: none;
}

.PromoBanner .promoImage .registerImage .slogans .sloganAnimate ul li {
  animation: ticker 10s cubic-bezier(1, 0, 0.7, 0) infinite;
  text-transform: uppercase;
  color: #005884;
  font-size: 22px;
  line-height: 26px;
  font-family: ArialRoundedMTBold, Arial Rounded MT;
  font-weight: 800;
  padding-bottom: 7px;
}

@media (max-width: 767px) {
  .PromoBanner .promoImage .registerImage .slogans .sloganAnimate ul {
    height: 12px;
  }

  .PromoBanner .promoImage .registerImage .slogans .sloganAnimate ul li {
    font-size: 14px;
    line-height: 16px;
  }
}

@keyframes ticker {
  0% {
    transform: translateZ(0);
  }

  16.6666666667% {
    transform: translate3d(0, -100%, 0);
  }

  33.3333333333% {
    transform: translate3d(0, -200%, 0);
  }

  50% {
    transform: translate3d(0, -300%, 0);
  }

  66.6666666667% {
    transform: translate3d(0, -400%, 0);
  }

  83.3333333333% {
    transform: translate3d(0, -500%, 0);
  }

  to {
    transform: translate3d(0, -600%, 0);
  }

  116.6666666667% {
    transform: translate3d(0, -700%, 0);
  }

  133.3333333333% {
    transform: translate3d(0, -800%, 0);
  }

  150% {
    transform: translate3d(0, -900%, 0);
  }

  166.6666666667% {
    transform: translate3d(0, -1000%, 0);
  }

  183.3333333333% {
    transform: translate3d(0, -1100%, 0);
  }

  200% {
    transform: translate3d(0, -1200%, 0);
  }

  216.6666666667% {
    transform: translate3d(0, -1300%, 0);
  }

  233.3333333333% {
    transform: translate3d(0, -1400%, 0);
  }

  250% {
    transform: translate3d(0, -1500%, 0);
  }

  101% {
    transform: translateZ(0);
  }
}

@media (max-width: 767px) {
  .PromoBanner .promoImage .registerImage .slogans .sloganAnimate {
    margin: 50px 0;
  }
}

@media (max-width: 580px) {
  .PromoBanner .promoImage .registerImage .slogans .sloganAnimate {
    margin: 33px 0;
  }
}

.PromoBanner .registerSection {
  float: right;
  width: 307px;
  padding: 18px;
  box-shadow: 1px 1px 6px #ccc;
  border-radius: 8px;
  background: #fff;
  font-size: 14px;
  margin: 5px;
  box-sizing: border-box;
}

@media screen and (max-width: 767px) {
  .PromoBanner .registerSection {
    display: none;
  }
}

.PromoBanner .registerSection .loginBlock,
.PromoBanner .registerSection .registrationBlock {
  transition: all 0.5s ease-in-out;
}

.loadingFeat {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media (max-width: 767px) {
  .loadingFeat {
    padding: 0 10px;
  }
}

.loadingFeat span {
  padding: 15px;
  border-radius: 8px;
  background-color: #fff;
  width: 50%;
  box-sizing: border-box;
}

@media (max-width: 500px) {
  .loadingFeat span {
    width: 100%;
  }
}

.loadingFeat span + span {
  margin-left: 20px;
}

@media (max-width: 767px) {
  .loadingFeat span + span {
    margin-left: 10px;
  }
}

@media (max-width: 480px) {
  .loadingFeat span + span {
    display: none;
  }
}

.loadingFeat span img {
  opacity: 0.5;
  width: 100%;
}

.featBlock {
  border-radius: 8px;
  overflow: hidden;
  margin-bottom: 20px;
}

.featBlock.oneRow {
  display: flex;
}

.featBlock.oneRow .feedItems {
  width: 408px;
  min-width: 408px;
  max-width: 408px;
  border-radius: 8px;
  overflow: hidden;
}

.featBlock.oneRow .feedCarousel {
  margin-left: 20px;
  width: calc(100% - 428px);
  border-radius: 8px;
  margin-top: 0;
}

@media (max-width: 767px) {
  .featBlock {
    margin-bottom: 0;
  }

  .feedItems {
    padding: 0 10px;
  }
}

.feedCarousel {
  background-color: #fff;
  padding: 10px 10px 15px;
  position: relative;
  border-radius: 10px;
  margin-top: 20px;
}

@media (max-width: 767px) {
  .feedCarousel {
    padding: 10px;
    margin: 0 10px;
  }
}

@media (max-width: 370px) {
  .feedCarousel {
    padding: 5px;
  }
}

.feedCarousel .carouselHead {
  display: flex;
  box-sizing: border-box;
  width: 100%;
  flex-direction: row;
  align-items: center;
  white-space: nowrap;
  padding: 16px 5px;
}

.feedCarousel .carouselHead h2 {
  padding: 0;
  margin: 0;
  font-weight: 400;
  font-size: 23px;
  font-weight: 500;
  font-family: Roboto;
  line-height: 23px;
}

@media (max-width: 767px) {
  .feedCarousel .carouselHead h2 {
    font-size: 16px;
    line-height: 16px;
  }
}

.feedCarousel .carouselHead h2 a {
  vertical-align: middle;
  margin-left: 16px;
  color: #419809;
  font-size: 14px;
}

@media (max-width: 767px) {
  .feedCarousel .carouselHead h2 a {
    display: none;
  }
}

@media (max-width: 450px) {
  .feedCarousel .carouselHead h2 a {
    display: inline-block;
  }
}

.feedCarousel .carouselHead a {
  font-size: 14px;
  text-decoration: none;
  display: inline-block;
  line-height: 23px;
  color: #b6b0b0;
}

@media (max-width: 767px) {
  .feedCarousel .carouselHead a {
    line-height: 16px;
    font-size: 11px;
    color: #419809;
  }
}

@media (max-width: 450px) {
  .feedCarousel .carouselHead a {
    display: none;
  }
}

.endingNowProduct {
  background-color: #fff;
  padding: 10px;
  position: relative;
  border-radius: 10px;
}

@media (max-width: 767px) {
  .endingNowProduct {
    padding: 0 10px;
    margin: 0 10px;
  }
}

@media (max-width: 370px) {
  .endingNowProduct {
    padding: 5px;
  }
}

.endingNowProduct .endProductHead {
  display: flex;
  box-sizing: border-box;
  width: 100%;
  flex-direction: row;
  align-items: center;
  white-space: nowrap;
  padding: 16px 5px;
}

.endingNowProduct .endProductHead h2 {
  padding: 0;
  margin: 0;
  font-weight: 400;
  font-size: 23px;
  font-weight: 500;
  font-family: Roboto;
  line-height: 23px;
}

@media (max-width: 767px) {
  .endingNowProduct .endProductHead h2 {
    font-size: 16px;
    line-height: 16px;
  }
}

.endingNowProduct .endProductHead h2 a {
  vertical-align: middle;
  margin-left: 16px;
  color: #419809;
  font-size: 14px;
}

@media (max-width: 767px) {
  .endingNowProduct .endProductHead h2 a {
    display: none;
  }
}

@media (max-width: 450px) {
  .endingNowProduct .endProductHead h2 a {
    display: inline-block;
  }
}

.endingNowProduct .endProductHead a {
  font-size: 14px;
  text-decoration: none;
  display: inline-block;
  line-height: 23px;
  color: #b6b0b0;
}

@media (max-width: 767px) {
  .endingNowProduct .endProductHead a {
    line-height: 16px;
    font-size: 11px;
    color: #419809;
  }
}

@media (max-width: 450px) {
  .endingNowProduct .endProductHead a {
    display: none;
  }
}

@media (max-width: 767px) {
  .endingNowProduct {
    padding: 6px 10px 16px;
  }
}

.bbs {
  padding: 16px;
  position: relative;
  margin: 16px 0;
  display: flex;
  text-align: center;
}

@media screen and (max-width: 767px) {
  .bbs {
    margin: 16px 10px;
  }
}

@media screen and (max-width: 560px) {
  .bbs {
    flex-direction: column;
    margin: 10px;
  }
}

.bbs:after {
  content: "";
  background-color: #fff;
  position: absolute;
  z-index: 0;
  left: 0;
  right: 0;
  bottom: 0;
  top: 9.4vw;
  border-radius: 10px;
  align-items: center;
  justify-content: center;
}

@media (max-width: 1080px) {
  .bbs:after {
    top: 11vw;
  }
}

@media (max-width: 800px) {
  .bbs:after {
    top: 11vw;
  }
}

@media (max-width: 700px) {
  .bbs:after {
    top: 9.4vw;
  }
}

@media screen and (max-width: 560px) {
  .bbs:after {
    top: 0;
  }
}

.bbs .indicator,
.bbs .item {
  position: relative;
  z-index: 1;
  box-sizing: border-box;
  align-items: center;
  flex-direction: column;
  display: flex;
}

.bbs .item {
  width: 26%;
}

@media screen and (max-width: 560px) {
  .bbs .item {
    width: 100%;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    display: flex;
  }

  .bbs .item.mid .img {
    order: 2;
  }

  .bbs .item.mid p {
    order: 1;
    padding: 0 24px 0 0;
  }
}

.bbs .indicator {
  width: 11%;
  background-size: 65%;
  background-position: 50% 40%;
  background-repeat: no-repeat;
}

@media screen and (min-width: 2100px) {
  .bbs .indicator {
    background-position: 50% 30%;
  }
}

@media screen and (max-width: 767px) {
  .bbs .indicator {
    background-position: 50% 35%;
  }
}

@media screen and (max-width: 560px) {
  .bbs .indicator {
    width: 100%;
    height: 28px;
    background-size: auto;
  }
}

.bbs .indicator.first {
  background-image: url(/assets/selIndicator.png);
}

@media screen and (max-width: 560px) {
  .bbs .indicator.first {
    background-image: url(/assets/mLand0.png);
  }
}

.bbs .indicator.last {
  background-image: url(/assets/selIndicatorTop.png);
}

@media screen and (max-width: 560px) {
  .bbs .indicator.last {
    background-image: url(/assets/mLand2.png);
  }
}

.bbs .img {
  position: relative;
  width: 100%;
  background-size: contain;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  margin-bottom: 4vw;
}

@media screen and (min-width: 2100px) {
  .bbs .img {
    margin-bottom: 15px;
  }
}

.bbs .img.bid {
  background-image: url(/assets/svgIcon/bid.svg);
}

.bbs .img.buy {
  background-image: url(/assets/svgIcon/buy.svg);
  background-position: 50% 330%;
}

.bbs .img.smile {
  background-image: url(/assets/svgIcon/smile.svg);
}

.bbs .img:after {
  content: "";
  display: block;
  padding-top: 100%;
}

.bbs .img h3 {
  position: absolute;
  left: 0;
  bottom: -14px;
  right: 0;
  text-align: center;
  font-size: 4.5vw;
  font-family: ArialRoundedMTBold, Arial Rounded MT;
  text-shadow: 2px 3px 7px #fff;
  margin: 0;
  line-height: 1;
}

@media screen and (min-width: 2100px) {
  .bbs .img h3 {
    font-size: 3.5vw;
  }
}

@media screen and (max-width: 767px) {
  .bbs .img h3 {
    font-size: 6vw;
  }
}

@media screen and (max-width: 560px) {
  .bbs .img h3 {
    font-size: 10vw;
  }
}

.bbs .img h3.green {
  color: #76cc00;
}

.bbs .img h3.yellow {
  color: #ffce02;
}

.bbs .img h3.orange {
  color: #ff7f00;
}

.bbs p {
  margin: 0;
  padding: 0;
  font-family: Nunito;
  font-size: 1.5vw;
  line-height: 1.5;
  color: #005884;
}

@media screen and (min-width: 2100px) {
  .bbs p {
    font-size: 1vw;
  }
}

@media screen and (max-width: 767px) {
  .bbs p {
    font-size: 2vw;
  }
}

@media screen and (max-width: 560px) {
  .bbs p {
    font-size: 4vw;
    padding: 0 0 0 24px;
    text-align: left;
  }
}

.mat-tab-header {
  display: none !important;
}

.mat-optgroup .mat-option:not(.mat-option-multiple) {
  padding-left: 16px;
}

.en .sloganAnimate ul li {
  line-height: 20px !important;
}

@media screen and (max-width: 580px) {
  .en .sloganAnimate ul li {
    line-height: 15px !important;
  }
}

.en .sloganAnimate h2 {
  line-height: 16px !important;
}

@media screen and (max-width: 580px) {
  .en .sloganAnimate h2 {
    line-height: 14px !important;
  }

  .th .sloganAnimate ul li {
    line-height: 13px !important;
  }

  .th .sloganAnimate h2 {
    line-height: 15px !important;
  }
}

.bbs .en .img h3 {
  font-size: 34px;
}

@keyframes shake {

  10%,
  90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%,
  80% {
    transform: translate3d(2px, 0, 0);
  }

  30%,
  50%,
  70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%,
  60% {
    transform: translate3d(4px, 0, 0);
  }
}

.feedClicked {
  animation: shake 1s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
  transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  perspective: 1000px;
}

.categoriesBlock {
  background-color: #fff;
  position: relative;
  border-radius: 10px;
  margin-top: 17px;
  padding: 1px 10px 28px 17px;
  margin-bottom: 17px;
}

@media screen and (max-width: 440px) {
  .categoriesBlock {
    padding: 0;
    margin-left: 12px;
    margin-right: 12px;
  }

  .categoriesBlock .headTitle {
    padding-left: 11px;
    padding-top: 17px;
    font-size: 20px;
    font-family: Roboto;
    margin-bottom: 13px;
  }
}

@media screen and (max-width: 340px) {
  .categoriesBlock .headTitle {
    font-size: 15px;
  }
}

@media screen and (max-width: 440px) {
  .slideFull {
    margin-left: 6px;
  }
}

.slideFull h2 {
  font-family: Roboto;
  font-size: 22px;
}

@media screen and (max-width: 440px) {
  .slideFull h2 {
    text-overflow: clip !important;
    overflow: unset !important;
    max-width: 83% !important;
    white-space: break-spaces !important;
    bottom: 0 !important;
  }
}

@media screen and (max-width: 400px) {
  .slideFull h2 {
    font-size: 16px !important;
  }
}

@media screen and (max-width: 360px) {
  .slideFull h2 {
    margin: 5px;
    font-size: 11px !important;
    padding-bottom: 8px;
    left: 2px;
  }
}

.slideFull a {
  position: relative;
  overflow: hidden;
  border-radius: 78px;
  margin-right: 8px;
}

@media screen and (max-width: 440px) {
  .slideFull a {
    border-radius: 0;
    display: inline-block;
    width: 45.8%;
    max-width: 201px;
    margin-bottom: 1px !important;
    margin: 5px;
  }
}

@media screen and (max-width: 340px) {
  .slideFull a {
    width: 44.8%;
    margin: 3px 7px;
  }
}

.slideFull img {
  max-width: 175px;
  border-radius: 7px;
}

@media screen and (max-width: 440px) {
  .slideFull img {
    max-width: 100%;
  }
}

.slideFull img:first-child {
  position: absolute;
  width: 100%;
  border-radius: 4px;
}

@media screen and (max-width: 440px) {
  .slideFull img:first-child {
    max-width: none;
  }
}

.slideFull h2 {
  position: absolute;
  bottom: 18px;
  left: 9px;
  z-index: 2;
  font-size: 17px;
  color: #fff;
  min-width: 150px;
  display: inline;
  max-width: 156px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  float: left;
  padding-right: 6px;
}

.landingHead {
  position: relative;
}

.landingHead .loginLink {
  position: absolute;
  right: 0;
}

@media (min-width: 700px) {
  .landingHead .loginLink {
    color: #b4b4b4;
  }
}

.landingHead h2 {
  display: inline-block;
  margin: 5px 0;
  cursor: pointer;
}

.landingHead h2:first-child {
  color: #1eb7ea;
}

.midPad {
  padding: 5px;
  flex: auto;
}

section.fbAdvert {
  width: 94%;
  margin-left: 12px;
  margin-top: 18px;
  border-radius: 8px;
  overflow: hidden;
  background: #fff;
  text-align: center;
  display: flex;
  justify-content: center;
  padding: 12px 0;
}

@media screen and (min-width: 900px) {
  section.fbAdvert {
    margin-left: 0;
    width: 100%;
  }
}

@media screen and (min-width: 800px) {
  section.fbAdvert {
    display: none;
  }
}

section.fbAdvert div:first-child {
  min-width: 360px;
}

@media screen and (max-width: 380px) {
  section.fbAdvert div:first-child {
    transform: scale(0.92);
  }
}

@media screen and (max-width: 340px) {
  section.fbAdvert div:first-child {
    transform: scale(0.8);
  }
}

.signShopping {
  display: none;
  justify-content: center;
  background: #fff;
  width: 95%;
  margin-left: 12px;
  border-radius: 8px;
  margin-bottom: 20px;
  flex-direction: column;
  margin-top: 18px;
  text-align: center;
}

@media screen and (max-width: 768px) {
  .signShopping {
    display: flex;
  }
}

.signShopping button {
  background: #7eb500;
  border: none;
  color: #fff;
  width: 87%;
  padding: 18px;
  font-size: 18px;
  margin: 0 auto 21px;
  border-radius: 9px;
  text-transform: uppercase;
  font-family: Roboto;
  font-size: 19px;
  font-weight: 600;
}

.signShopping h2 {
  font-family: Nunito;
  font-weight: 700;
  font-size: 21px;
}

@media screen and (min-width: 768px) {
  .categoriesBlock .carousel-cell:after {
    content: "";
    width: 100%;
    height: 110px;
    background: url(/assets/overlay_image.svg);
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    border-radius: 4px;
  }
}


//////////

.productInfo .sub-header {
  font-size: 11px;
  line-height: 11px;
  text-transform: uppercase;
  color: #a5a5a6;
  letter-spacing: 0.5px;
  display: block;
  margin-bottom: 10px;
  font-family: Open Sans;
}

.productInfo .bidData {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0 0 12px;
}

.productInfo .bidData .TimeTickerProduct {
  width: 100%;
  order: 1;
  margin-bottom: 24px;
}

.productInfo .bidData .TimeTickerProduct small {
  display: none;
}

.productInfo .bidData .TimeTickerProduct div {
  color: #c35;
  font-weight: 500;
  font-size: 25px;
  line-height: 35px;
  height: 38px;
  position: relative;
  z-index: 1;
}

.productInfo .bidData .TimeTickerProduct span {
  background: #fbfbfb;
  border-radius: 5px;
  width: 30px;
  text-align: center;
  cursor: default;
}

@media screen and (min-width: 767px) {
  .productInfo .bidData .TimeTickerProduct span {
    border: 1px solid #0000001f;
    padding: 0 10px;
    width: 50px;
    font-weight: 400;
  }
}

.productInfo .bidData .TimeTickerProduct b,
.productInfo .bidData .TimeTickerProduct span {
  color: #c35;
  display: inline-block;
  font-weight: 600;
  vertical-align: top;
  box-sizing: border-box;
  font-family: roboto, sans-serif;
}

@media (max-width: 767px) {

  .productInfo .bidData .TimeTickerProduct b,
  .productInfo .bidData .TimeTickerProduct span {
    font-weight: 400;
    background: #fff;
  }
}

@media screen and (min-width: 767px) {
  .productInfo .bidData .TimeTickerProduct b {
    margin: 0 5px;
  }
}

.productInfo .bidData .TimeTickerProduct .timerBox {
  background: #ffb846;
  background: linear-gradient(90deg, #ffb846, #ff5d21);
  width: 252px;
  height: 81px;
  border-radius: 5px;
  text-align: center;
  font-weight: 400;
  line-height: unset;
  position: relative;
  padding: 10px;
  box-sizing: border-box;
}

.productInfo .bidData .TimeTickerProduct .timerBox h3 {
  color: #fff;
  font-size: 16px;
  line-height: 16px;
  padding: 0 0 10px;
  margin: 0;
  text-shadow: 0 2px 3px #00000054;
}

.productInfo .bidData .TimeTickerProduct .timerBox .salePrice span {
  box-shadow: 0 3px 6px #0000004f;
  border: none;
  padding: 0 6px;
  width: auto;
  line-height: 30px;
}

.productInfo .bidData .TimeTickerProduct .timerBox .salePrice b {
  color: #fff;
  text-shadow: 0 2px 3px #00000054;
  background-color: initial;
  margin: 0 4px;
  line-height: 30px;
}

.productInfo .bidData .TimeTickerProduct .timerBox .tLeftImg,
.productInfo .bidData .TimeTickerProduct .timerBox .tRightImg {
  position: absolute;
  bottom: 0;
  max-width: 51px;
}

.productInfo .bidData .TimeTickerProduct .timerBox .tLeftImg {
  left: 0;
}

.productInfo .bidData .TimeTickerProduct .timerBox .tRightImg {
  right: 0;
}

@media screen and (max-width: 767px) {
  .productInfo .bidData .TimeTickerProduct .timerBox {
    width: 200px;
    height: 76px;
  }

  .productInfo .bidData .TimeTickerProduct .timerBox h3 {
    font-size: 13px;
    line-height: 13px;
  }
}

.productInfo .bidData .BidPrice {
  flex: 0 0 130px;
  order: 2;
  cursor: default;
}

.productInfo .bidData .BidPrice span {
  display: block;
}

.productInfo .bidData .BidPrice span em,
.productInfo .bidData .BidPrice span strong {
  font-size: 21px;
  font-weight: 400;
  line-height: 21px;
  font-style: normal;
  display: inline-block;
  vertical-align: top;
}

.productInfo .bidData .BidPrice span em {
  color: #000;
}

.productInfo .bidData .BidPrice span strong {
  color: #26a300;
}

.productInfo .bidData .BidWinner {
  flex: 0 0 calc(100% - 130px);
  width: calc(100% - 130px);
  order: 3;
  cursor: default;
}

.productInfo .bidData .BidWinner span {
  font-size: 16px;
  display: block;
  font-weight: 400;
  line-height: 21px;
  background: url(/assets/svgIcon/trophy.svg) 0 50%/18px no-repeat;
  padding-left: 24px;
}

@media screen and (max-width: 1024px) {
  .productInfo .bidData .BidPrice {
    flex: 0 0 100%;
  }

  .productInfo .bidData .BidWinner {
    margin-top: 24px;
    flex: 0 0 100%;
  }
}

@media screen and (max-width: 780px) and (min-width: 600px) {
  .productInfo .bidData .BidWinner {
    flex: 0 0 60%;
    margin-top: 0;
  }

  .productInfo .bidData .BidPrice {
    flex: 0 0 39%;
  }
}

@media screen and (max-width: 767px) {
  .productInfo .bidData {
    padding: 0 0 16px;
  }

  .productInfo .bidData small {
    font-size: 13px;
    line-height: 13px;
  }

  .productInfo .bidData .TimeTickerProduct {
    width: auto;
    order: 2;
    text-align: right;
    margin-bottom: 0;
  }

  .productInfo .bidData .TimeTickerProduct small {
    display: block;
  }

  .productInfo .bidData .TimeTickerProduct div {
    height: 25px;
    line-height: 25px;
    font-size: 20px;
  }

  .productInfo .bidData .TimeTickerProduct.losing .sub-header,
  .productInfo .bidData .TimeTickerProduct.losing div {
    color: #c00;
  }

  .productInfo .bidData .TimeTickerProduct.winning .sub-header,
  .productInfo .bidData .TimeTickerProduct.winning div {
    color: #26a300;
  }

  .productInfo .bidData .BidPrice {
    flex: 1;
    order: 1;
  }

  .productInfo .bidData .BidPrice em,
  .productInfo .bidData .BidPrice strong {
    font-size: 25px;
    line-height: 25px;
  }

  .productInfo .bidData .BidWinner {
    display: none;
  }
}

.productInfo mat-divider {
  margin: 12px 0 24px;
}

.productInfo .options {
  box-sizing: border-box;
}

.productInfo .options .selectOption .mask {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 1;
}

.productInfo .options .selectOption .editOption {
  height: 38px;
  line-height: 38px;
  border-radius: 17px;
  box-shadow: 0 0 5px #0000001f;
  padding: 0 0 0 16px;
  font-size: 14px;
  white-space: nowrap;
  overflow: hidden;
}

.productInfo .options .selectOption .editOption.InStock span:before {
  background-color: #4ba94a;
}

.productInfo .options .selectOption .editOption.NotInStock span:before {
  background-color: #ffb100;
}

.productInfo .options .selectOption .editOption b {
  color: #afafaf;
  float: left;
  font-weight: 400;
}

.productInfo .options .selectOption .editOption span {
  float: left;
  color: #267ca5;
  position: relative;
  padding-left: 16px;
  display: flex;
  align-items: center;
}

.productInfo .options .selectOption .editOption span:before {
  position: absolute;
  left: 0;
  content: "";
  height: 8px;
  width: 8px;
  border-radius: 100%;
  top: 15px;
}

.productInfo .options .selectOption .editOption span img {
  border-radius: 4px;
  height: 28px;
  margin: 0 10px 0 0;
}

.productInfo .options .selectOption .editOption em {
  float: right;
  color: #267ca5;
  font-style: normal;
  margin-right: 16px;
}

.productInfo .options .selectOption .editOption strong {
  float: right;
  font-weight: 400;
  width: 35px;
  text-align: center;
}

.productInfo .options .selectOption .editOption strong img {
  vertical-align: middle;
}

.productInfo .options .selectOption .StockStatus {
  display: block;
  width: 100%;
  font-size: 12px;
  line-height: 1;
  padding: 0;
  box-sizing: border-box;
}

.productInfo .options .selectOption .StockStatus.InStock {
  margin: 10px 0 0;
  color: #4ba94a;
}

.productInfo .options .selectOption .StockStatus.NotInStock {
  margin: 10px 0 0;
  color: #ffb100;
}

@media screen and (max-width: 1024px) {
  .productInfo .options .selectOption {
    width: calc(100% - 117px);
  }

  .productInfo .options .selectOption.fullWidth {
    width: 100%;
  }

  .productInfo .options .msgInstruction {
    width: 100%;
    padding-left: 0;
    margin: 10px 0 18px;
  }
}

.productInfo .box + .box {
  margin-top: 24px;
}

@media screen and (max-width: 767px) {
  .productInfo .box + .box.salePage {
    display: flex;
  }

  .productInfo .box + .box.salePage .placeBidBtn {
    text-align: right;
  }

  .productInfo .box + .box.salePage .placeBidBtn .add2cart {
    margin: 0;
  }

  .productInfo .reorderContent {
    display: flex;
    flex-direction: column;
  }

  .productInfo .reorderContent .box:not(.salePage) {
    order: 1;
    margin-top: 18px;
  }

  .productInfo .reorderContent .box.salePage {
    order: 3;
    margin-top: 2px;
  }

  .productInfo .reorderContent .bidData {
    order: 2;
    margin-top: 18px;
  }

  .productInfo .reorderContent .bidData .TimeTickerProduct {
    order: 1;
  }

  .productInfo .reorderContent .bidData .BidPrice {
    order: 2;
    flex: none;
  }
}

.probtn {
  display: flex;
  align-items: center;
}

.likeblock {
  padding: 5px;
  cursor: pointer;
}

.login-box {
  padding: 0;
}

.login-box .login-button {
  font-weight: 600;
  font-size: 15px;
  height: 48px;
  border-radius: 6px;
  width: 100%;
}

@media screen and (min-width: 1024px) {
  .login-box .login-button {
    font-size: 17px;
    line-height: 41px;
    width: auto;
  }
}

.login-box .login-button .fas {
  margin-right: 5px;
}

.priceBox {
  display: inline-block;
  position: relative;
  vertical-align: top;
}

@media screen and (max-width: 767px) {
  .priceBox {
    width: calc(100% - 100px);
  }
}

.priceBox.fullWidth {
  width: 100%;
}

.priceBox .selectPrice {
  display: inline-block;
  border-radius: 6px;
  overflow: hidden;
  box-sizing: border-box;
  vertical-align: top;
  width: 100%;
}

.priceBox .selectPrice .BtnMinus,
.priceBox .selectPrice .BtnPlus {
  border: none;
  background: #419809;
  outline: 0;
  cursor: pointer;
  height: 44px;
  width: 44px;
  max-width: 44px;
  min-width: 44px;
  line-height: 44px;
  border-radius: 0;
  padding: 0;
  margin: 0;
  float: left;
  font-size: 18px;
  text-align: center;
  color: #fff;
}

@media screen and (max-width: 767px) {

  .priceBox .selectPrice .BtnMinus,
  .priceBox .selectPrice .BtnPlus {
    height: 48px;
    width: 48px;
    max-width: 48px;
    min-width: 48px;
    line-height: 48px;
    font-size: 24px;
  }
}

.priceBox .selectPrice .decPrice,
.priceBox .selectPrice .incPrice {
  border: 1px solid #419809;
  border-radius: 100%;
  outline: 0;
  cursor: pointer;
  height: 25px;
  width: 25px;
  max-width: 25px;
  min-width: 25px;
  padding: 0;
  margin: 7px 0;
  float: left;
  font-size: 18px;
  text-align: center;
}

.priceBox .selectPrice .decPrice svg,
.priceBox .selectPrice .incPrice svg {
  vertical-align: middle;
}

.priceBox .selectPrice .decPrice {
  background-color: #d7eff7;
  color: #419809;
}

.priceBox .selectPrice .incPrice {
  background-color: #419809;
  color: #fff;
}

.priceBox .selectPrice .price {
  border-color: #dcdcdc #18b7ea;
  border-style: solid;
  border-width: 1px;
  transition: none;
  box-sizing: border-box;
  height: 44px;
  width: 88px;
  float: left;
  line-height: 44px;
  text-align: center;
}

.priceBox .selectPrice .price .mat-select .mat-select-trigger {
  width: 100%;
}

.priceBox .selectPrice .price .mat-select .mat-select-trigger .mat-select-value {
  max-width: 100%;
  text-align: center;
  line-height: 42px;
  font-size: 20px;
  color: #027ca5;
  font-weight: 600;
}

.priceBox .selectPrice .price .mat-select .mat-select-trigger .mat-select-arrow-wrapper {
  display: none;
}

.priceBox .selectPrice .quantity {
  border: none;
  transition: none;
  box-sizing: border-box;
  height: 39px;
  width: 70px;
  float: left;
}

.priceBox .selectPrice .quantity .mat-select .mat-select-trigger {
  width: 100%;
}

.priceBox .selectPrice .quantity .mat-select .mat-select-trigger .mat-select-value {
  max-width: 100%;
  text-align: center;
  line-height: 38px;
  font-size: 15px;
  color: #000;
  font-weight: 600;
}

.priceBox .selectPrice .quantity .mat-select .mat-select-trigger .mat-select-arrow-wrapper {
  display: none;
}

.priceBox .selectPrice .BidValueTxt {
  width: calc(100% - 96px);
  float: left;
  background: #18b7ea;
  color: #fff;
  font-size: 15px;
  font-weight: 600;
  border: none;
  padding: 0 11px;
  box-sizing: border-box;
  text-align: center;
  height: 48px;
  outline: 0;
}

.priceBox .selectPrice .BidValueTxt.BidWinnerMsg {
  background: #26a31a;
  line-height: 48px;
}

.priceBox .singleUnit {
  line-height: 38px;
  background-color: #d7eff7;
  border: 1px solid #419809;
  border-radius: 6px;
  text-align: center;
  font-size: 15px;
  color: #000;
  font-weight: 600;
  padding: 0 10px;
}

.priceBoxNoAutoBid {
  vertical-align: top;
  width: 55%;
  display: inline-block;
  position: relative;
}

.priceBoxNoAutoBid button {
  width: 100%;
  font-size: 17px;
  line-height: 41px;
}

.ServiceCharge {
  color: #cacaca;
  margin-top: 5px;
  font-size: 9px;
  text-align: center;
}

.likeHideBox {
  display: inline-block;
  position: relative;
  vertical-align: top;
  height: 44px;
}

.likeHideBox .likeBox {
  width: 100%;
  font-size: 12px;
  flex-direction: row;
  text-align: center;
  height: 44px;
}

.likeHideBox .likeBox,
.likeHideBox .likeBox span {
  display: flex;
  align-items: center;
  justify-content: center;
}

.likeHideBox .likeBox span {
  height: 23px;
  width: 23px;
}

.likeHideBox .likeBox em {
  display: block;
  font-style: normal;
  color: #ff3b3b;
}

.likeHideBox .likeBox div {
  margin-left: 15px;
  cursor: pointer;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.placeBidBtn {
  display: inline-block;
  position: relative;
  vertical-align: top;
}

.placeBidBtn button {
  font-size: 17px;
  padding: 1.5px 18px;
  border-radius: 6px;
  margin-left: 10px;
  line-height: 41px;
}

.placeBidBtn button i {
  margin-right: 5px;
}

.placeBidBtn button.add2cart {
  margin-left: 38px;
}

.placeBidBtn button.add2cart .firstSVG {
  margin-right: 5px;
}

.placeBidBtn button.add2cart img:last-child {
  display: none;
}

@media screen and (max-width: 374px) {

  .placeBidBtn button.add2cart .firstSVG,
  .placeBidBtn button.add2cart .firstSVG + span {
    display: none;
  }

  .placeBidBtn button.add2cart img:not(.firstSVG) {
    display: inline-block;
  }
}

@media screen and (max-width: 1024px) {
  .placeBidBtn {
    width: 100%;
  }

  .placeBidBtn button {
    margin-left: 0 !important;
    margin-top: 24px;
  }
}

@media screen and (max-width: 780px) and (min-width: 600px) {
  .placeBidBtn {
    width: 44%;
    margin-left: 16px;
  }

  .placeBidBtn button {
    margin-top: 0;
  }
}

.auction-end-buttons {
  display: flex;
}

.auction-end-buttons button.mat-flat-button.mat-button-base {
  height: 46px;
  width: 48%;
  text-overflow: ellipsis;
  overflow: hidden;
}

.auction-end-buttons button.mat-flat-button.mat-button-base.outline {
  border: 2px solid #18b7ea;
  color: #18b7ea;
}

@media screen and (min-width: 768px) {
  .auction-end-buttons button.mat-flat-button.mat-button-base {
    height: 50px;
    width: 180px;
  }

  .auction-end-buttons button.mat-flat-button.mat-button-base.outline {
    margin-right: 20px;
    margin-bottom: 10px;
  }
}

.loading-devider {
  margin: 12px 0 24px;
}

.loading-auction {
  position: relative;
}

.loading-auction .timers-loading {
  position: relative;
  margin-bottom: 24px;
}

.loading-auction .timers-loading .timer-loading {
  position: relative;
  width: 50px;
  height: 38px;
  margin-right: 10px;
  display: inline-block;
  border: 1px solid #0000001f;
  border-radius: 5px;
}

.loading-auction .timers-loading .timer-loading.animated-Block:after {
  border-radius: 5px;
}

.loading-auction .bid-info-loading {
  position: relative;
}

.loading-auction .bid-info-loading .win-lose-loading-section {
  display: inline-block;
  position: relative;
  margin-bottom: 15px;
}

.loading-auction .bid-info-loading .win-lose-loading-section .win-lose-loading-title {
  display: block;
  position: relative;
  width: 180px;
  margin-bottom: 5px;
  height: 20px;
  margin-right: 40px;
}

.loading-auction .bid-info-loading .win-lose-loading-section .win-lose-loading {
  display: block;
  position: relative;
  width: 100%;
  height: 40px;
  margin-right: 40px;
}

.multiWinnerInfo {
  background-color: #f03170;
  color: #fff;
  font-size: 13px;
  line-height: 18px;
  font-weight: 700;
  display: flex;
  height: 40px;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9;
}

@media screen and (max-width: 480px) {
  .multiWinnerInfo {
    justify-content: start;
    padding: 0 16px;
  }
}

.multiWinnerInfo span {
  color: #fff;
  background: #0000 url(/assets/multi-winner/winners-white.svg) 0 50% no-repeat;
  padding-left: 27px;
}

.multiWinnerInfo span a {
  color: #fff;
  text-decoration: underline;
  cursor: pointer;
}

.multiWinnerInfo .close {
  position: absolute;
  right: 0;
  top: 0;
}

.related-option-container {
  display: flex;
}

.related-option-container .varText {
  text-overflow: ellipsis;
  overflow: hidden;
  flex-grow: 1;
}

.multiAuctionContainer .multiBidBtn {
  width: 100% !important;
  float: left;
  background: #18b7ea;
  color: #fff;
  font-size: 15px;
  font-weight: 600;
  border: none;
  padding: 0 11px;
  box-sizing: border-box;
  text-align: center;
  height: 48px;
  outline: 0;
  border-radius: 6px;
  cursor: pointer;
}

.multiAuctionContainer .multiBidBtn.BidWinnerMsg {
  background: #26a31a;
  line-height: 48px;
  cursor: default;
}

@media screen and (min-width: 767px) {
  .multiAuctionContainer {
    width: 285px;
  }
}

.zeroBid {
  box-sizing: border-box;
  height: 44px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font: normal normal normal 13px/18px Roboto;
}

@media screen and (min-width: 768px) {
  .zeroBid {
    text-align: left;
    justify-content: flex-start;
  }
}

.multiBidMsg {
  padding: 10px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font: normal normal 900 13px/18px Roboto;
}

.multiBidMsg .bidMsg {
  background-repeat: no-repeat;
  background-color: initial;
  background-position: 0 50%;
  padding-left: 20px;
}

.multiBidMsg .bidCount {
  font: normal normal 900 14px/18px Roboto;
  display: flex;
}

.multiBidMsg .bidCount span {
  font: normal normal 900 18px/24px Roboto;
}

.multiBidMsg .bidCount em {
  margin-left: 5px;
  width: 22px;
  height: 22px;
  cursor: pointer;
  background: #0000 url(/assets/svgIcon/list.svg) 50% 50% no-repeat;
}

.multiBidMsg.highest .bidMsg {
  color: #26a31a;
  background-image: url(/assets/svgIcon/green-trophy.svg);
}

.multiBidMsg.highest .bidCount span {
  color: #26a31a;
}

.multiBidMsg.winning .bidMsg {
  color: #1eb7ea;
  background-image: url(/assets/svgIcon/blue-trophy.svg);
}

.multiBidMsg.winning .bidCount span {
  color: #1eb7ea;
}

.multiBidMsg.losing .bidMsg {
  color: #eb2929;
  background-image: url(/assets/svgIcon/red-trophy.svg);
}

.multiBidMsg.losing .bidCount span {
  color: #eb2929;
}

.alreadyInCart,
.NewBidInfo {
  padding: 7px;
  text-align: center;
  color: #fff;
  top: 0;
  position: absolute;
  z-index: 9999;
  right: 0;
  left: 0;
  transition: all 0.25s ease-in-out;
}

@media screen and (max-width: 767px) {

  .alreadyInCart,
  .NewBidInfo {
    font-size: 12px;
  }
}

.NewBidInfo {
  background-color: #007f00;
}

.alreadyInCart {
  background-color: #ff6223;
}

.basic-bid-button {
  width: 100%;
  line-height: 48px;
}

mat-menu {
  display: none
}

.mat-menu-panel {
  min-width: 112px;
  max-width: 280px;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  max-height: calc(100vh - 48px);
  border-radius: 4px;
  outline: 0;
  min-height: 64px
}

.mat-menu-panel.ng-animating {
  pointer-events: none
}

.cdk-high-contrast-active .mat-menu-panel {
  outline: solid 1px
}

.mat-menu-content:not(:empty) {
  padding-top: 8px;
  padding-bottom: 8px
}

.mat-menu-item {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
  outline: none;
  border: none;
  -webkit-tap-highlight-color: transparent;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
  line-height: 48px;
  height: 48px;
  padding: 0 16px;
  text-align: left;
  text-decoration: none;
  max-width: 100%;
  position: relative
}

.mat-menu-item::-moz-focus-inner {
  border: 0
}

.mat-menu-item[disabled] {
  cursor: default
}

[dir=rtl] .mat-menu-item {
  text-align: right
}

.mat-menu-item .mat-icon {
  margin-right: 16px;
  vertical-align: middle
}

.mat-menu-item .mat-icon svg {
  vertical-align: top
}

[dir=rtl] .mat-menu-item .mat-icon {
  margin-left: 16px;
  margin-right: 0
}

.mat-menu-item[disabled] {
  pointer-events: none
}

.cdk-high-contrast-active .mat-menu-item {
  margin-top: 1px
}

.cdk-high-contrast-active .mat-menu-item.cdk-program-focused, .cdk-high-contrast-active .mat-menu-item.cdk-keyboard-focused, .cdk-high-contrast-active .mat-menu-item-highlighted {
  outline: dotted 1px
}

.mat-menu-item-submenu-trigger {
  padding-right: 32px
}

.mat-menu-item-submenu-trigger::after {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 5px 0 5px 5px;
  border-color: transparent transparent transparent currentColor;
  content: "";
  display: inline-block;
  position: absolute;
  top: 50%;
  right: 16px;
  transform: translateY(-50%)
}

[dir=rtl] .mat-menu-item-submenu-trigger {
  padding-right: 16px;
  padding-left: 32px
}

[dir=rtl] .mat-menu-item-submenu-trigger::after {
  right: auto;
  left: 16px;
  transform: rotateY(180deg) translateY(-50%)
}

button.mat-menu-item {
  width: 100%
}

.mat-menu-item .mat-menu-ripple {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  pointer-events: none
}


virtual-scroller {
  height: 100%;
  position: relative;
  display: block;
  -webkit-overflow-scrolling: touch;
}

virtual-scroller .horizontal.selfScroll {
  overflow-y: visible;
  overflow-x: auto;
}

virtual-scroller .horizontal.selfScroll.rtl {
  transform: scaleX(-1);
}

virtual-scroller .vertical.selfScroll {
  overflow-y: auto;
  overflow-x: visible;
}

virtual-scroller .scrollable-content {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  max-width: 100vw;
  max-height: 100vh;
  position: absolute;
  display: flex;
  flex-wrap: wrap;
}

virtual-scroller .scrollable-content > * {
  box-sizing: border-box;
}

virtual-scroller .horizontal {
  white-space: nowrap;
}

virtual-scroller .horizontal .scrollable-content {
  display: flex;
}

virtual-scroller .horizontal .scrollable-content > * {
  flex-shrink: 0;
  flex-grow: 0;
  white-space: initial;
}

virtual-scroller .horizontal.rtl .scrollable-content > * {
  transform: scaleX(-1);
}

virtual-scroller .total-padding {
  position: absolute;
  top: 0;
  left: 0;
  height: 1px;
  width: 1px;
  transform-origin: 0 0;
  opacity: 0;
}

virtual-scroller .horizontal .total-padding {
  height: 100%;
}

@import url("../node_modules/@fortawesome/fontawesome-free/css/all.css");
