:host {
  display: block;
  padding: 5px
}

.full {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
  box-sizing: border-box
}

.full app-small-auction-list-item {
  max-width: calc(100% - 118px);
  cursor: pointer
}

.buttons {
  min-width: 110px;
  margin-left: 8px
}

.buttons .place-bid {
  color: #1fb7ea;
  font-size: 12px;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 2px
}

.buttons .place-bid .bid-hammer {
  height: 12px;
  transform: scaleX(-1)
}

.buttons button {
  flex-basis: 100%;
  width: 100%;
  text-transform: uppercase;
  border-color: #1fb7ea;
  border-width: 2px
}

.buttons button.break-line {
  line-height: 20px;
  white-space: break-spaces;
  padding-top: 3px
}

.buttons button.mat-button-disabled {
  border-color: #c7c7c7
}
