<div class="full">
  <app-small-auction-list-item tabindex="0"></app-small-auction-list-item>
  <div class="spacer"></div>
  <div class="buttons ng-star-inserted">
    <button mat-stroked-button="" color="primary"
            class="mat-focus-indicator mat-stroked-button mat-button-base mat-primary bid break-line">
                  <span class="mat-button-wrapper"> đấu giá <br class="ng-star-inserted">
                    <!----> vnđ 22
                  </span>
      <!--                  <span matripple="" class="mat-ripple mat-button-ripple"></span>-->
      <span class="mat-button-focus-overlay"></span>
    </button>
    <!---->
  </div>
  <!---->
</div>
