ul li {
    list-style: none;
    line-height: 17px;
    border-bottom: 1px solid #e9e9e9;
    margin-bottom: 11px;
    padding-bottom: 11px;
    cursor: default;
  }

  ul li:last-child {
    border-bottom: none;
  }

  ul li i {
    background: #eaeaea;
    padding: 11px;
    color: #74797c;
    margin-bottom: 10px;
    border-radius: 22px;
    font-size: 12px;
  }

  ul li span {
    display: block;
    font-size: 11px;
    color: #848484;
    font-family: Roboto;
  }

  ul li span b {
    font-weight: 400;
    display: block;
  }
