<ul>
    <li><i class="far fa-calendar"></i><span>Chính sách đổi trả 30
            ngày</span></li>
    <li>
        <i class="fas fa-truck"></i><span class="ng-star-inserted">Phí giao hàng : vnđ 29</span>
        <!---->
        <!---->
    </li>
    <li><i class="fas fa-gavel"></i><span>TẤT CẢ SẢN PHẨM BẮT ĐẦU TỪ vnđ 1</span></li>
    <li>
        <i class="fas fa-phone"></i><span class="ng-star-inserted">Liên hệ : support.vn@chilindo.com</span>
        <!---->
        <!---->
    </li>
</ul>