@charset "UTF-8";
h1, h2, h3, h4 {
  font-weight: 500
}

pre {
  font-family: Roboto, Helvetica Neue, sans-serif;
  margin-top: 0;
  white-space: pre-line;
  font-size: 14px;
  line-height: 28px;
  color: #474747
}

h2 {
  color: #027ca5;
  font-size: 21px;
  padding: 16px 0;
  line-height: 1;
  margin: 0
}

p {
  margin-top: 0
}

.ProductDetailsSection {
  font-size: 16px;
  line-height: 28px;
  color: #474747
}

@media screen and (max-width: 580px) {
  .ProductDetailsSection {
    font-size: 15px;
    line-height: 26px
  }
}

.ProductDetailsSection div:not(.ProductDetails) {
  border-top: 1px solid #0000001f
}

.ProductDetailsSection div:not(.ProductDetails) + div {
  margin-top: 16px
}

.ProductDetailsSection div:not(.ProductDetails):first-child {
  border-top: none
}

.ProductDetailsSection ul {
  list-style: none
}

.ProductDetailsSection > div p:last-child {
  margin: 0
}

.Cost, .Shipping li span:first-child {
  display: inline-block
}

.Cost {
  border-left: 6px solid #ddf7dc;
  background-color: #f1fff0;
  color: #1d586b;
  padding: 10px 13px !important;
  margin-top: 10px !important;
  font-size: 15px;
  margin-bottom: 5px !important;
  letter-spacing: .2px
}

.ZipChek {
  padding-top: 8px
}

.ZipChek p {
  margin: 0;
  padding: 5px 0 0;
  font-size: 13px;
  font-family: open sans
}

.ZipChek .zipForm {
  border-top: none !important;
  border-bottom: 1px solid #0000001f;
  margin-bottom: 16px;
  padding-bottom: 16px
}

.ZipChek .zipForm input {
  padding: 9px;
  border-radius: 4px;
  border: 1px solid #d3d3d3;
  -webkit-appearance: none !important;
  vertical-align: top;
  width: 205px;
  font-size: 14px;
  box-shadow: 0 1px 5px 1px #e4e4e4
}

.ZipChek .zipForm input:focus {
  border-color: #41980999
}

.ZipChek .zipForm span {
  display: block
}

button {
  padding: 0 15px !important;
  margin: 0 0 0 8px
}

.form-control-province {
  width: 200px;
  display: inline-block;
  border: 1px solid #d3d3d3;
  box-shadow: 0 0 7px 1px #f7f7f7;
  -moz-box-shadow: 0 0 7px 1px #f7f7f7;
  -webkit-box-shadow: 0 0 7px 1px #f7f7f7;
  font-family: Open Sans;
  -webkit-appearance: none;
  position: relative;
  background-color: #fff;
  border-radius: 4px;
  margin-bottom: 10px
}

.form-control-province:after {
  font-family: Font Awesome\ 5 Free;
  font-size: 13px;
  font-weight: 700;
  content: "";
  right: 0;
  top: 0;
  z-index: 1;
  position: absolute;
  padding: 5px 10px;
  color: #999
}

.form-control-province:hover:after {
  color: #419809
}

.form-control-province select {
  padding: 10px;
  background-color: initial;
  border: none;
  width: 100%;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none
}

ul.auctionInfo {
  padding: 0;
  margin: 0 0 10px;
  list-style: none
}

ul.auctionInfo li {
  font-size: 14px;
  line-height: 28px
}

ul.auctionInfo li span {
  color: #474747;
  display: inline-block;
  vertical-align: top
}

ul.auctionInfo li span:first-child {
  width: 150px
}

ul.auctionInfo li.StockStatus {
  position: relative;
  font-size: 13px;
  font-family: Open Sans;
  vertical-align: top;
  padding-left: 16px;
  line-height: 15px;
  margin: 5px 0
}

ul.auctionInfo li.StockStatus:after {
  position: absolute;
  left: 0;
  content: "";
  height: 9px;
  width: 9px;
  border-radius: 100%;
  top: 3px
}

ul.auctionInfo li.InStock:after {
  background-color: #4ba94a
}

ul.auctionInfo li.NotInStock:after {
  background-color: #e9ca4d
}
