<div class="ProductDetailsSection">
    <h2 class="first-child">Chi tiết sản phẩm</h2>
    <ul class="auctionInfo">
        <!---->
        <li><span>{{bid?.product?.extraInfo}}</span></li>
        <!---->
        <!---->
    </ul>
    <div class="ProductDetails">
        <h3>Mô tả sản phẩm</h3>
        <pre
            class="ng-star-inserted">{{
                bid?.product?.description
            }}

Buy more on fixed price at ---&gt; <a href="https://www.chilindo.com/th-en/sale/11-499">https://www.chilindo.com/th-en/sale/11-499</a></pre>
        <!---->
        <!---->
    </div>
    <div class="Shipping">
        <h2>Giao hàng</h2>
        <p>
            Với mỗi hoá đơn, bạn sẽ thanh toán phí vận chuyển và 10% phí dịch vụ để đảm bảo kiện hàng của
            bạn được gửi nhanh chóng an toàn. Chilindo hỗ trợ bạn một phần phí vận chuyển ở mục
            'Khuyến mãi' để giúp bạn an tâm mua sắm thật nhiều với phí vận chuyển tiết kiệm nhất.
        </p>
    </div>
    <div class="ReturnPolicy">
        <h2>Trả lại sản phẩm</h2>
        <p>
            Chính sách đổi trả: Trong vòng 30 ngày kể từ ngày nhận hàng, Chilindo chấp nhận đổi trả tất cả
            sản phẩm bao gồm thiết bị điện tử, quần áo, giày dép, và hơn thế nữa. Lưu ý, sản phẩm
            phải được hoàn trả trong tình trạng ban đầu. Khi đáp ứng được tình trạng hoàn trả, Chilindo sẽ
            hoàn lại đầy đủ giá trị sản phẩm, không bao gồm 10% phí dịch vụ. Người mua hàng chịu
            trách nhiệm về chi phí phát sinh khi trả hàng (nếu có).
        </p>
    </div>
    <div class="Payment">
        <h2>Thanh toán</h2>
        <!---->
        <p class="ng-star-inserted">
            Chúng tôi cung cấp phương thức thanh toán thuận tiện bằng tiền mặt khi nhận hàng và thanh toán
            an toàn qua chuyển khoản ngân hàng.
        </p>
        <!---->
    </div>
</div>