<div  id="ChilindoSlider" class="slider-pro product sp-horizontal sp-has-buttons"
    style="width: 100%; max-width: 363px; padding-left: 79px;">
    <div class="sp-slides-container">
        <div class="sp-mask sp-grab" style="width: 363px; height: 454px;">
            <div  class="sp-slides" style="transform: translate3d(-746px, 0px, 0px);">
                <!---->
                <!---->
                <div  class="sp-slide ng-star-inserted sp-selected" data-index="0"
                    data-init="true" data-loaded="true" style="width: 363px; height: 454px; left: 746px;">
                    <div class="sp-image-container" style="width: 363px; height: 454px;">
                        <img class="sp-image"
                            data-default="https://cdn.chilindo.com//XML/Gfx/11-499/11-499_editmain_380.jpg"
                            data-retina="https://cdn.chilindo.com//XML/Gfx/11-499/11-499_editmain_380.jpg"
                            data-large="https://cdn.chilindo.com//XML/Gfx/11-499/11-499_editmain_380.jpg"
                            data-medium="https://cdn.chilindo.com//XML/Gfx/11-499/11-499_editmain_380.jpg"
                            data-small="https://cdn.chilindo.com//XML/Gfx/11-499/11-499_editmain_380.jpg"
                            alt="Loading Image"
                            src="./assets/style-detail/11-499_editmain_380.jpg"
                            style="width: 100%; height: auto; margin-left: 0px; margin-top: 0px;" />
                    </div>
                    <div  class="OpenLightBox ng-star-inserted"></div>
                    <!---->
                    <!---->
                    <!---->
                </div>
                <div  class="sp-slide ng-star-inserted" data-index="1" data-init="true"
                    data-loaded="true" style="width: 363px; height: 454px; left: 1119px;">
                    <div class="sp-image-container" style="width: 363px; height: 454px;">
                        <img class="sp-image"
                            data-default="https://cdn.chilindo.com//XML/Gfx/11-499/11-499_Presell2_380.jpg"
                            data-retina="https://cdn.chilindo.com//XML/Gfx/11-499/11-499_Presell2_380.jpg"
                            data-large="https://cdn.chilindo.com//XML/Gfx/11-499/11-499_Presell2_380.jpg"
                            data-medium="https://cdn.chilindo.com//XML/Gfx/11-499/11-499_Presell2_380.jpg"
                            data-small="https://cdn.chilindo.com//XML/Gfx/11-499/11-499_Presell2_380.jpg"
                            alt="Loading Image"
                            src="./assets/style-detail/11-499_Presell2_380.jpg"
                            style="width: 100%; height: auto; margin-left: 0px; margin-top: 0px;" />
                    </div>
                    <div  class="OpenLightBox ng-star-inserted"></div>
                    <!---->
                    <!---->
                    <!---->
                </div>
                <div  class="sp-slide ng-star-inserted" data-index="2" data-init="true"
                    style="width: 363px; height: 454px; left: 1492px;">
                    <div class="sp-image-container" style="width: 363px; height: 454px;">
                        <img  src="./assets/style-detail/blank.gif"
                            alt="Loading Image" class="sp-image"
                            data-src="https://cdn.chilindo.com//XML/Gfx/11-499/11-499_Alt-1_380.jpg"
                            data-small="https://cdn.chilindo.com//XML/Gfx/11-499/11-499_Alt-1_380.jpg"
                            data-medium="https://cdn.chilindo.com//XML/Gfx/11-499/11-499_Alt-1_380.jpg"
                            data-large="https://cdn.chilindo.com//XML/Gfx/11-499/11-499_Alt-1_380.jpg"
                            data-retina="https://cdn.chilindo.com//XML/Gfx/11-499/11-499_Alt-1_380.jpg"
                            data-default="https://cdn.chilindo.com//XML/Gfx/11-499/11-499_Alt-1_380.jpg" />
                    </div>
                    <div  class="OpenLightBox ng-star-inserted"></div>
                    <!---->
                    <!---->
                    <!---->
                </div>
                <div  class="sp-slide ng-star-inserted" data-index="3" data-init="true"
                    style="width: 363px; height: 454px; left: 0px;">
                    <div class="sp-image-container" style="width: 363px; height: 454px;">
                        <img  src="./assets/style-detail/blank.gif"
                            alt="Loading Image" class="sp-image"
                            data-src="https://cdn.chilindo.com//XML/Gfx/11-499/11-499_Alt-2_380.jpg"
                            data-small="https://cdn.chilindo.com//XML/Gfx/11-499/11-499_Alt-2_380.jpg"
                            data-medium="https://cdn.chilindo.com//XML/Gfx/11-499/11-499_Alt-2_380.jpg"
                            data-large="https://cdn.chilindo.com//XML/Gfx/11-499/11-499_Alt-2_380.jpg"
                            data-retina="https://cdn.chilindo.com//XML/Gfx/11-499/11-499_Alt-2_380.jpg"
                            data-default="https://cdn.chilindo.com//XML/Gfx/11-499/11-499_Alt-2_380.jpg" />
                    </div>
                    <div  class="OpenLightBox ng-star-inserted"></div>
                    <!---->
                    <!---->
                    <!---->
                </div>
                <div  class="sp-slide ng-star-inserted" data-index="4" data-init="true"
                    data-loaded="true" style="width: 363px; height: 454px; left: 373px;">
                    <div class="sp-image-container" style="width: 363px; height: 454px;">
                        <img class="sp-image"
                            data-default="https://cdn.chilindo.com//XML/Gfx/11-499/11-499_Alt-3_380.jpg"
                            data-retina="https://cdn.chilindo.com//XML/Gfx/11-499/11-499_Alt-3_380.jpg"
                            data-large="https://cdn.chilindo.com//XML/Gfx/11-499/11-499_Alt-3_380.jpg"
                            data-medium="https://cdn.chilindo.com//XML/Gfx/11-499/11-499_Alt-3_380.jpg"
                            data-small="https://cdn.chilindo.com//XML/Gfx/11-499/11-499_Alt-3_380.jpg"
                            alt="Loading Image"
                            src="./assets/style-detail/11-499_Alt-3_380.jpg"
                            style="width: 100%; height: auto; margin-left: 0px; margin-top: 0px;" />
                    </div>
                    <div  class="OpenLightBox ng-star-inserted"></div>
                    <!---->
                    <!---->
                    <!---->
                </div>
            </div>
        </div>
        <div class="sp-arrows sp-fade-arrows">
            <div class="sp-arrow sp-previous-arrow"></div>
            <div class="sp-arrow sp-next-arrow"></div>
        </div>
    </div>
    <div class="sp-thumbnails-container sp-left-thumbnails" style="height: 454px;">
        <div  class="sp-thumbnails sp-grab" style="width: 75px; height: 564px;">
            <!---->
            <!---->
            <div class="sp-thumbnail-container sp-selected-thumbnail" data-loaded="true"
                style="width: 75px; height: 100px;">
                <img  alt="Thumbnail" class="sp-thumbnail ng-star-inserted"
                    src="./assets/style-detail/11-499_editmain_75.jpg" data-index="0"
                    data-init="true" style="width: 100%; height: auto; margin-left: 0px; margin-top: 0.33595px;" />
            </div>
            <div class="sp-thumbnail-container" style="width: 75px; height: 100px;" data-loaded="true">
                <img  alt="Thumbnail" class="sp-thumbnail ng-star-inserted"
                    src="./assets/style-detail/11-499_Presell2_75.jpg" data-index="1"
                    data-init="true" style="width: 100%; height: auto; margin-left: 0px; margin-top: 0px;" />
            </div>
            <div class="sp-thumbnail-container" style="width: 75px; height: 100px;" data-loaded="true">
                <img  alt="Thumbnail" class="sp-thumbnail ng-star-inserted"
                    src="./assets/style-detail/11-499_Alt-1_75.jpg" data-index="2"
                    data-init="true" style="width: 100%; height: auto; margin-left: 0px; margin-top: 0px;" />
            </div>
            <div class="sp-thumbnail-container" style="width: 75px; height: 100px;" data-loaded="true">
                <img  alt="Thumbnail" class="sp-thumbnail ng-star-inserted"
                    src="./assets/style-detail/11-499_Alt-2_75.jpg" data-index="3"
                    data-init="true" style="width: 100%; height: auto; margin-left: 0px; margin-top: 0px;" />
            </div>
            <div class="sp-thumbnail-container" style="width: 75px; height: 100px;" data-loaded="true">
                <img  alt="Thumbnail" class="sp-thumbnail ng-star-inserted"
                    src="./assets/style-detail/11-499_Alt-3_75.jpg" data-index="4"
                    data-init="true" style="width: 100%; height: auto; margin-left: 0px; margin-top: 0px;" />
            </div>
        </div>
        <div class="sp-thumbnail-arrows sp-fade-thumbnail-arrows">
            <div class="sp-thumbnail-arrow sp-previous-thumbnail-arrow" style="display: none;">
            </div>
            <div class="sp-thumbnail-arrow sp-next-thumbnail-arrow" style="display: block;"></div>
        </div>
    </div>
    <div class="sp-buttons">
        <div class="sp-button sp-selected-button"></div>
        <div class="sp-button"></div>
        <div class="sp-button"></div>
        <div class="sp-button"></div>
        <div class="sp-button"></div>
    </div>
</div>